@keyframes opc{
    0% {opacity: 0; }
    100% {opacity: 1; } 
}
@keyframes mic{
    0% {-webkit-transform: rotateZ(0deg);
       -moz-transform: rotateZ(0deg);
        -ms-transform: rotateZ(0deg);
         -o-transform: rotateZ(0deg);
            transform: rotateZ(0deg); }
    100% {-webkit-transform: rotateZ(360deg);
       -moz-transform: rotateZ(360deg);
        -ms-transform: rotateZ(360deg);
         -o-transform: rotateZ(360deg);
            transform: rotateZ(360deg); } 
}
/***************************************************one*/
@keyframes down_yel {
  0% {left: -20rem;top: -20rem;opacity: 0; }
  100% {left: -0.8rem;top: -0.7rem;opacity: 1; } 
}

@keyframes top_img4 {
  0% {left: 20rem;top: 20rem;opacity: 0; }
  100% {top: 5rem;left: 7.44rem;opacity: 1; } 
}
@keyframes rote{
    0%{-webkit-transform: rotateZ(180deg);
       -moz-transform: rotateZ(180deg);
        -ms-transform: rotateZ(180deg);
         -o-transform: rotateZ(180deg);
            transform: rotateZ(180deg);}
    100%{-webkit-transform: rotateZ(170deg);
       -moz-transform: rotateZ(170deg);
        -ms-transform: rotateZ(170deg);
         -o-transform: rotateZ(170deg);
            transform: rotateZ(170deg);
    }
}
@keyframes rote2{
    0%{-webkit-transform: rotateZ(0deg);
       -moz-transform: rotateZ(0deg);
        -ms-transform: rotateZ(0deg);
         -o-transform: rotateZ(0deg);
            transform: rotateZ(0deg);}
    100%{-webkit-transform: rotateZ(10deg);
       -moz-transform: rotateZ(10deg);
        -ms-transform: rotateZ(10deg);
         -o-transform: rotateZ(10deg);
            transform: rotateZ(10deg);
    }
}
@keyframes r{
    0% {width: 7.85rem;height: 14.12rem;opacity: 0; }
    100% {width: 1.85rem;height: 2.12rem;opacity: 1;} 
}
@keyframes s1{
    0% {width: 6.67rem;height: 6.86rem;opacity: 0; }
    100% {width: 0.67rem;height: 0.86rem;opacity: 1; } 
}
@keyframes e{
    0% {width: 7.76rem; height: 7.86rem;opacity: 0; }
    100% {width: 0.76rem; height: 0.86rem;opacity: 1;} 
}
@keyframes jian{
    0% { width: 1.05rem; height: 1.03rem;opacity: 0; }
    100% {width: 1.05rem; height: 1.03rem;opacity: 1;} 
}
@keyframes cd{
    0% {left: -10rem;top: 60rem;opacity: 0; }
    100% {left:1.2rem;top:11.0rem;opacity: 1; } 
}
@keyframes slide{
    0% {bottom:.5rem;left:4.4rem; }
    20% {bottom:.75rem;left:4.4rem; }
    30% {bottom:.75rem;left:4.4rem; }
    50% {bottom:1rem;left:4.4rem;} 
    100% {bottom:.5rem;left:4.4rem; }

}
@keyframes l1{
    0% {left: -3rem;top: 2rem;opacity: 0; }
    1% {left: -3rem;top: 2rem;opacity: 1; }
    60% {left: 11rem;top: 10rem;opacity: 1; }
    61% {left: 11rem;top: 10rem;opacity: 0; }
    100% {left: 11rem;top: 10rem;opacity: 0; }
}
@keyframes l2{
    0% {left: 10rem;top: 15rem;opacity: 0; }
    40% {left: 10rem;top: 15rem;opacity: 0; }
    41% {left: 10rem;top:15rem;opacity: 1; }
    99% {left: -5rem;top: 2rem;opacity: 1; }
    100% {left: -5rem;top: 2rem;opacity: 0; }
}
@keyframes l3{
    0% {left: 11rem;top: -2rem;opacity: 0; }
    20% {left: 11rem;top: -2rem;opacity: 0; }
    21% {left: 11rem;top: -2rem;opacity: 1; }
    80% {left: -3rem;top: 6rem;opacity: 0; }
    81% {left: -3rem;top: 6rem;opacity: 0; }
    100% {left: -3rem;top: 6rem;opacity: 0; }
}

/***************************************************three*/
@keyframes sp{
    0% {left: -2rem;top:-1rem;opacity: 0; }
    100% {left:1rem;top: 1.5rem;opacity: 1; } 
}
@keyframes con1_1{
    0% {width: 0;height: 0;opacity:0; right:17%;bottom:5%; }
    100% { width: 70%;height: 40%;right:10%;opacity:1; bottom:30%;} 
}
@keyframes con1_2{
    0% { width: 70%;height: 40%;right:10%;opacity:1; bottom:30%;} 
    100% {width: 0;height: 0;opacity:0; right:17%;bottom:5%; }
}
@keyframes con2_1{
    0% {width: 0;height: 0;opacity:0; right:7%;bottom:27%; }
    100% { width: 70%;height: 40%;right:10%;opacity:1; bottom:30%;} 
}
@keyframes con2_2{
    0% { width: 70%;height: 40%;right:10%;opacity:1; bottom:30%;} 
    100% {width: 0;height: 0;opacity:0; right:7%;bottom:27%; }
}
@keyframes con3_1{
    0% {width: 0;height: 0;opacity:0; right:59%;bottom:12%; }
    100% { width: 70%;height: 40%;right:10%;opacity:1; bottom:30%;} 
}
@keyframes con3_2{
    0% { width: 70%;height: 40%;right:10%;opacity:1; bottom:30%;} 
    100% {width: 0;height: 0;opacity:0; right:59%;bottom:12%; }
}
@keyframes con4_1{
    0% {width: 0;height: 0;opacity:0; right:5%;bottom:62%; }
    100% { width: 70%;height: 40%;right:10%;opacity:1; bottom:30%;} 
}
@keyframes con4_2{
    0% { width: 70%;height: 40%;right:10%;opacity:1; bottom:30%;} 
    100% {width: 0;height: 0;opacity:0; right:5%;bottom:62%; }
}
@keyframes con5_1{
    0% {width: 0;height: 0;opacity:0; right:29%;bottom:42%; }
    100% { width: 70%;height: 40%;right:10%;opacity:1; bottom:30%;} 
}
@keyframes con5_2{
    0% { width: 70%;height: 40%;right:10%;opacity:1; bottom:30%;} 
    100% {width: 0;height: 0;opacity:0; right:29%;bottom:42%; }
}
@keyframes con6_1{
    0% {width: 0;height: 0;opacity:0; right:57%;bottom:46%; }
    100% { width: 70%;height: 40%;right:10%;opacity:1; bottom:30%;} 
}
@keyframes con6_2{
    0% { width: 70%;height: 40%;right:10%;opacity:1; bottom:30%;} 
    100% {width: 0;height: 0;opacity:0; right:57%;bottom:46%; }
}
@keyframes con7_1{
    0% {width: 0;height: 0;opacity:0; right:81%;bottom:27%; }
    100% { width: 70%;height: 40%;right:10%;opacity:1; bottom:30%;} 
}
@keyframes con7_2{
    0% { width: 70%;height: 40%;right:10%;opacity:1; bottom:30%;} 
    100% {width: 0;height: 0;opacity:0; right:81%;bottom:27%; }
}
@keyframes con8_1{
    0% {width: 0;height: 0;opacity:0; right:33%;bottom:66%; }
    100% { width: 70%;height: 40%;right:10%;opacity:1; bottom:30%;} 
}
@keyframes con8_2{
    0% { width: 70%;height: 40%;right:10%;opacity:1; bottom:30%;} 
    100% {width: 0;height: 0;opacity:0; right:33%;bottom:66%; }
}
@keyframes con9_1{
    0% {width: 0;height: 0;opacity:0; right:79%;bottom:61%; }
    100% { width: 70%;height: 40%;right:10%;opacity:1; bottom:30%;} 
}
@keyframes con9_2{
    0% { width: 70%;height: 40%;right:10%;opacity:1; bottom:30%;} 
    100% {width: 0;height: 0;opacity:0; right:79%;bottom:61%; }
}

/***************************************************fore*/
@keyframes f_t4{
    0% {top:0;left:-3rem;opacity: 0; }
    100% {top:0;left:-1rem;opacity: 1; } 
}
@keyframes f_t3{
    0% {top:5rem;left:10rem;opacity: 0; }
    100% {top:1rem;left:1rem;opacity: 1; } 
}
@keyframes f_t1{
    0% {top:1rem;left:-2rem;opacity: 0; }
    100% {top:1rem;left:2rem;opacity: 1; } 
}
@keyframes f_t5{
    0% {top:5rem;left:-2rem;opacity: 0; }
    100% {top:1rem;left:5rem;opacity: 1; } 
}
@keyframes f_t9{
    0% {top:5rem;left:10rem;opacity: 0; }
    100% {top:3.2rem;left:7rem;opacity: 1; } 
}
@keyframes f_t7{
    0% {top:-0.5rem;left:10rem;opacity: 0; }
    100% {top:-0.5rem;left:8.5rem;opacity: 1; } 
}

/***************************************************five*/
@keyframes f_d1{
    0% {left:-1rem;top:0;opacity: 0; }
    100% {left:.8rem;top:0;opacity: 1; } 
}
@keyframes f_d2{
    0% {left:10rem;top:3.85rem;opacity: 0; }
    100% {left:.2rem;top:.85rem;opacity: 1; } 
}
@keyframes f_d3{
    0% {left:-3rem;top:5.85rem;opacity: 0; }
    100% {left:6rem;top:.85rem;opacity: 1; } 
}
@keyframes f_d4{
    0% {left:10rem;top:5.85rem;opacity: 0; }
    100% {left:3rem;top:.85rem;opacity: 1; } 
}
@keyframes f_d5{
    0% {left:10.5rem;top:6.2rem;opacity: 0; }
    100% {left:7.5rem;top:4.2rem;opacity: 1; } 
}
/***************************************************six*/
@keyframes s_e1{
    0% {left:1rem;top:1.2rem;}
    100% {left:.8rem;top:1rem;} 
}
@keyframes s_e2{
    0% {left:-1.8rem;top:5.2rem;}
    100% {left:-2rem;top:5rem;} 
}
@keyframes s_e3{
    0% {left:-1rem;bottom:-0.2rem;}
    100% {left:-.8rem;bottom:0rem;} 
}
@keyframes s_e4{
    0% {right:-1.2rem;top:4.2rem;}
    100% {right:-1rem;top:4rem;} 
}
@keyframes s_e5{
    0% {right:-0.8rem;top:8.2rem;}
    100% {right:-1rem;top:8rem;} 
}
@keyframes s_e6{
    0% {right:1.2rem;bottom:.8rem;}
    100% {right:1rem;bottom:1rem;} 
}
@keyframes s_span{
    0% {top:20%;left:100%;opacity:0;}
    100% {top:20%;left:30%;opacity:1;} 
}
@keyframes s_em{
    0% { top:44%;left:-60%;opacity:0;}
    100% { top:44%;left:10%;opacity:1;} 
}
@keyframes s_strong{
    0% {top:75%;left:100%;opacity:0;}
    100% {top:75%;left:20%;opacity:1;} 
}
/***************************************************seven*/
@keyframes s_v1{
    0% {top:52%;left:52%;}
    100% {top:55%;left:50%;} 
}
@keyframes s_v2{
    0% {top:47%;left:8%;}
    100% {top:48%;left:10%;} 
}
@keyframes s_v3{
    0% {top:31%;left:53%;}
    100% {top:30%;left:50%;} 
}
@keyframes s_v4{
    0% {top:8%;left:13%;}
    100% {top:10%;left:10%;} 
}
@keyframes s_v5{
    0% {top:12%;left:63%;}
    100% {top:10%;left:60%;} 
}
@keyframes s_v6{
    0% {top:33%;left:19%;}
    100% {top:35%;left:20%;} 
}
@keyframes s_v7{
    0% {top:73%;left:13%;}
    100% {top:75%;left:10%;} 
}
@keyframes s_v1_m{
    0% {top:100%;left:-10%;}
    100% {top:55%;left:50%;} 
}
@keyframes s_v2_m{
    0% {top:100%;left:100%;}
    100% {top:48%;left:10%;} 
}
@keyframes s_v3_m{
    0% {top:50%;left:100%;}
    100% {top:30%;left:50%;} 
}
@keyframes s_v4_m{
    0% {top:50%;left:-50%;}
    100% {top:10%;left:10%;} 
}
@keyframes s_v5_m{
    0% {top:50%;left:-20%;}
    100% {top:10%;left:60%;} 
}
@keyframes s_v6_m{
    0% {top:50%;left:100%;}
    100% {top:35%;left:20%;} 
}
@keyframes s_v7_m{
    0% {top:100%;left:100%;}
    100% {top:75%;left:10%;} 
}
/***************************************************eight*/
@keyframes e_t4{
    0% {left:-2rem;top:5rem;}
    100% {left:-1rem;top:.6rem;} 
}
@keyframes e_t1{
    0% {left:10rem;top:5.8rem;}
    100% {left:1rem;top:.8rem;} 
}
@keyframes e_t10{
    0% {left:-2rem;top:7rem;}
    100% {left:5.5rem;top:1.2rem;} 
}
@keyframes e_t5{
    0% {left:10rem;top:6.6rem;}
    100% {left:3rem;top:.6rem;} 
}
@keyframes e_t6{
    0% {left:10rem;top:3.4rem;}
    100% {left:8.7rem;top:.4rem;} 
}
@keyframes e_t7{
    0% {left:10.8rem;top:10rem;}
    100% {left:.8rem;top:5rem;} 
}
@keyframes e_t3{
    0% {left:-2rem;top:7rem;}
    100% {left:8rem;top:4rem;} 
}
@keyframes e_t8{
    0% {left:12rem;top:12rem;}
    100% {left:9rem;top:10rem;} 
}
@keyframes e_m_t7{
    0% {left:1rem;top:5.1rem;}
    100% {left:.8rem;top:5rem;} 
}
@keyframes e_m_t3{
    0% {left:8.2rem;top:4.3rem;}
    100% {left:8rem;top:4rem;} 
}
@keyframes e_m_t8{
    0% {left:9.1rem;top:10.3rem;}
    100% {left:9rem;top:10rem;} 
}





























/*************************************************************************************兼容性处理***/
@-webkit-keyframes opc{
    0% {opacity: 0; }
    100% {opacity: 1; } 
}
@keyframes mic{
    0% {-webkit-transform: rotateZ(0deg);
       -moz-transform: rotateZ(0deg);
        -ms-transform: rotateZ(0deg);
         -o-transform: rotateZ(0deg);
            transform: rotateZ(0deg); }
    100% {-webkit-transform: rotateZ(360deg);
       -moz-transform: rotateZ(360deg);
        -ms-transform: rotateZ(360deg);
         -o-transform: rotateZ(360deg);
            transform: rotateZ(360deg); } 
}
@-webkit-keyframes mic{
    0% {-webkit-transform: rotateZ(0deg);
       -moz-transform: rotateZ(0deg);
        -ms-transform: rotateZ(0deg);
         -o-transform: rotateZ(0deg);
            transform: rotateZ(0deg); }
    100% {-webkit-transform: rotateZ(360deg);
       -moz-transform: rotateZ(360deg);
        -ms-transform: rotateZ(360deg);
         -o-transform: rotateZ(360deg);
            transform: rotateZ(360deg); } 
}
/***************************************************one*/
@-webkit-keyframes down_yel {
  0% {left: -20rem;top: -20rem;opacity: 0; }
  100% {left: -0.8rem;top: -0.7rem;opacity: 1; } 
}

@-webkit-keyframes top_img4 {
  0% {left: 20rem;top: 20rem;opacity: 0; }
  100% {top: 5rem;left: 7.44rem;opacity: 1; } 
}
@-webkit-keyframes rote{
    0%{-webkit-transform: rotateZ(180deg);
       -moz-transform: rotateZ(180deg);
        -ms-transform: rotateZ(180deg);
         -o-transform: rotateZ(180deg);
            transform: rotateZ(180deg);}
    100%{-webkit-transform: rotateZ(170deg);
       -moz-transform: rotateZ(170deg);
        -ms-transform: rotateZ(170deg);
         -o-transform: rotateZ(170deg);
            transform: rotateZ(170deg);
    }
}
@-webkit-keyframes rote2{
    0%{-webkit-transform: rotateZ(0deg);
       -moz-transform: rotateZ(0deg);
        -ms-transform: rotateZ(0deg);
         -o-transform: rotateZ(0deg);
            transform: rotateZ(0deg);}
    100%{-webkit-transform: rotateZ(10deg);
       -moz-transform: rotateZ(10deg);
        -ms-transform: rotateZ(10deg);
         -o-transform: rotateZ(10deg);
            transform: rotateZ(10deg);
    }
}

@-webkit-keyframes r{
    0% {width: 7.85rem;height: 14.12rem;opacity: 0; }
    100% {width: 1.85rem;height: 2.12rem;opacity: 1;} 
}
@-webkit-keyframes s1{
    0% {width: 6.67rem;height: 6.86rem;opacity: 0;}
    100% {width: 0.67rem;height: 0.86rem;opacity: 1;} 
}
@-webkit-keyframes e{
    0% {width: 7.76rem; height: 7.86rem;opacity: 0;}
    100% {width: 0.76rem; height: 0.86rem;opacity: 1;} 
}
@-webkit-keyframes jian{
    0% { width: 1.05rem; height: 1.03rem;opacity: 0; }
    100% {width: 1.05rem; height: 1.03rem;opacity: 1; } 
}
@-webkit-keyframes cd{
    0% {left: -10rem;top: 60rem;opacity: 0; }
    100% {left:1.2rem;top:11.0rem;opacity: 1; } 
}
@-webkit-keyframes slide{
    0% {bottom:.5rem;left:4.4rem; }
    20% {bottom:.75rem;left:4.4rem; }
    30% {bottom:.75rem;left:4.4rem; }
    50% {bottom:1rem;left:4.4rem;} 
    100% {bottom:.5rem;left:4.4rem; }

}
@-webkit-keyframes l1{
    0% {left: -3rem;top: 2rem;opacity: 0; }
    1% {left: -3rem;top: 2rem;opacity: 1; }
    60% {left: 11rem;top: 10rem;opacity: 1; }
    61% {left: 11rem;top: 10rem;opacity: 0; }
    100% {left: 11rem;top: 10rem;opacity: 0; }
}
@-webkit-keyframes l2{
    0% {left: 10rem;top: 15rem;opacity: 0; }
    40% {left: 10rem;top: 15rem;opacity: 0; }
    41% {left: 10rem;top:15rem;opacity: 1; }
    99% {left: -5rem;top: 2rem;opacity: 1; }
    100% {left: -5rem;top: 2rem;opacity: 0; }
}
@-webkit-keyframes l3{
    0% {left: 11rem;top: -2rem;opacity: 0; }
    20% {left: 11rem;top: -2rem;opacity: 0; }
    21% {left: 11rem;top: -2rem;opacity: 1; }
    80% {left: -3rem;top: 6rem;opacity: 0; }
    81% {left: -3rem;top: 6rem;opacity: 0; }
    100% {left: -3rem;top: 6rem;opacity: 0; }
}

/***************************************************three*/
@-webkit-keyframes sp{
    0% {left: -2rem;top:-1rem;opacity: 0; }
    100% {left:1rem;top: 1.5rem;opacity: 1; } 
}
@-webkit-keyframes con1_1{
    0% {width: 0;height: 0;opacity:0; right:17%;bottom:5%; }
    100% { width: 70%;height: 40%;right:10%;opacity:1; bottom:30%;} 
}
@-webkit-keyframes con1_2{
    0% { width: 70%;height: 40%;right:10%;opacity:1; bottom:30%;} 
    100% {width: 0;height: 0;opacity:0; right:17%;bottom:5%; }
}
@-webkit-keyframes con2_1{
    0% {width: 0;height: 0;opacity:0; right:7%;bottom:27%; }
    100% { width: 70%;height: 40%;right:10%;opacity:1; bottom:30%;} 
}
@-webkit-keyframes con2_2{
    0% { width: 70%;height: 40%;right:10%;opacity:1; bottom:30%;} 
    100% {width: 0;height: 0;opacity:0; right:7%;bottom:27%; }
}
@-webkit-keyframes con3_1{
    0% {width: 0;height: 0;opacity:0; right:59%;bottom:12%; }
    100% { width: 70%;height: 40%;right:10%;opacity:1; bottom:30%;} 
}
@-webkit-keyframes con3_2{
    0% { width: 70%;height: 40%;right:10%;opacity:1; bottom:30%;} 
    100% {width: 0;height: 0;opacity:0; right:59%;bottom:12%; }
}
@-webkit-keyframes con4_1{
    0% {width: 0;height: 0;opacity:0; right:5%;bottom:62%; }
    100% { width: 70%;height: 40%;right:10%;opacity:1; bottom:30%;} 
}
@-webkit-keyframes con4_2{
    0% { width: 70%;height: 40%;right:10%;opacity:1; bottom:30%;} 
    100% {width: 0;height: 0;opacity:0; right:5%;bottom:62%; }
}
@-webkit-keyframes con5_1{
    0% {width: 0;height: 0;opacity:0; right:29%;bottom:42%; }
    100% { width: 70%;height: 40%;right:10%;opacity:1; bottom:30%;} 
}
@-webkit-keyframes con5_2{
    0% { width: 70%;height: 40%;right:10%;opacity:1; bottom:30%;} 
    100% {width: 0;height: 0;opacity:0; right:29%;bottom:42%; }
}
@-webkit-keyframes con6_1{
    0% {width: 0;height: 0;opacity:0; right:57%;bottom:46%; }
    100% { width: 70%;height: 40%;right:10%;opacity:1; bottom:30%;} 
}
@-webkit-keyframes con6_2{
    0% { width: 70%;height: 40%;right:10%;opacity:1; bottom:30%;} 
    100% {width: 0;height: 0;opacity:0; right:57%;bottom:46%; }
}
@-webkit-keyframes con7_1{
    0% {width: 0;height: 0;opacity:0; right:81%;bottom:27%; }
    100% { width: 70%;height: 40%;right:10%;opacity:1; bottom:30%;} 
}
@-webkit-keyframes con7_2{
    0% { width: 70%;height: 40%;right:10%;opacity:1; bottom:30%;} 
    100% {width: 0;height: 0;opacity:0; right:81%;bottom:27%; }
}
@-webkit-keyframes con8_1{
    0% {width: 0;height: 0;opacity:0; right:33%;bottom:66%; }
    100% { width: 70%;height: 40%;right:10%;opacity:1; bottom:30%;} 
}
@-webkit-keyframes con8_2{
    0% { width: 70%;height: 40%;right:10%;opacity:1; bottom:30%;} 
    100% {width: 0;height: 0;opacity:0; right:33%;bottom:66%; }
}
@-webkit-keyframes con9_1{
    0% {width: 0;height: 0;opacity:0; right:79%;bottom:61%; }
    100% { width: 70%;height: 40%;right:10%;opacity:1; bottom:30%;} 
}
@-webkit-keyframes con9_2{
    0% { width: 70%;height: 40%;right:10%;opacity:1; bottom:30%;} 
    100% {width: 0;height: 0;opacity:0; right:79%;bottom:61%; }
}

/***************************************************fore*/
@-webkit-keyframes f_t4{
    0% {top:0;left:-3rem;opacity: 0; }
    100% {top:0;left:-1rem;opacity: 1; } 
}
@-webkit-keyframes f_t3{
    0% {top:5rem;left:10rem;opacity: 0; }
    100% {top:1rem;left:1rem;opacity: 1; } 
}
@-webkit-keyframes f_t1{
    0% {top:1rem;left:-2rem;opacity: 0; }
    100% {top:1rem;left:2rem;opacity: 1; } 
}
@-webkit-keyframes f_t5{
    0% {top:5rem;left:-2rem;opacity: 0; }
    100% {top:1rem;left:5rem;opacity: 1; } 
}
@-webkit-keyframes f_t9{
    0% {top:5rem;left:10rem;opacity: 0; }
    100% {top:3.2rem;left:7rem;opacity: 1; } 
}
@-webkit-keyframes f_t7{
    0% {top:-0.5rem;left:10rem;opacity: 0; }
    100% {top:-0.5rem;left:8.5rem;opacity: 1; } 
}

/***************************************************five*/
@-webkit-keyframes f_d1{
    0% {left:-1rem;top:0;opacity: 0; }
    100% {left:.8rem;top:0;opacity: 1; } 
}
@-webkit-keyframes f_d2{
    0% {left:10rem;top:3.85rem;opacity: 0; }
    100% {left:.2rem;top:.85rem;opacity: 1; } 
}
@-webkit-keyframes f_d3{
    0% {left:-3rem;top:5.85rem;opacity: 0; }
    100% {left:6rem;top:.85rem;opacity: 1; } 
}
@-webkit-keyframes f_d4{
    0% {left:10rem;top:5.85rem;opacity: 0; }
    100% {left:3rem;top:.85rem;opacity: 1; } 
}
@-webkit-keyframes f_d5{
    0% {left:10.5rem;top:6.2rem;opacity: 0; }
    100% {left:7.5rem;top:4.2rem;opacity: 1; } 
}
/***************************************************six*/
@-webkit-keyframes s_e1{
    0% {left:1rem;top:1.2rem;}
    100% {left:.8rem;top:1rem;} 
}
@-webkit-keyframes s_e2{
    0% {left:-1.8rem;top:5.2rem;}
    100% {left:-2rem;top:5rem;} 
}
@-webkit-keyframes s_e3{
    0% {left:-1rem;bottom:-0.2rem;}
    100% {left:-.8rem;bottom:0rem;} 
}
@-webkit-keyframes s_e4{
    0% {right:-1.2rem;top:4.2rem;}
    100% {right:-1rem;top:4rem;} 
}
@-webkit-keyframes s_e5{
    0% {right:-0.8rem;top:8.2rem;}
    100% {right:-1rem;top:8rem;} 
}
@-webkit-keyframes s_e6{
    0% {right:1.2rem;bottom:.8rem;}
    100% {right:1rem;bottom:1rem;} 
}
@-webkit-keyframes s_span{
    0% {top:20%;left:100%;opacity:0;}
    100% {top:20%;left:30%;opacity:1;} 
}
@-webkit-keyframes s_em{
    0% { top:44%;left:-60%;opacity:0;}
    100% { top:44%;left:10%;opacity:1;} 
}
@-webkit-keyframes s_strong{
    0% {top:75%;left:100%;opacity:0;}
    100% {top:75%;left:20%;opacity:1;} 
}
/***************************************************seven*/
@-webkit-keyframes s_v1{
    0% {top:52%;left:52%;}
    100% {top:55%;left:50%;} 
}
@-webkit-keyframes s_v2{
    0% {top:47%;left:8%;}
    100% {top:48%;left:10%;} 
}
@-webkit-keyframes s_v3{
    0% {top:31%;left:53%;}
    100% {top:30%;left:50%;} 
}
@-webkit-keyframes s_v4{
    0% {top:8%;left:13%;}
    100% {top:10%;left:10%;} 
}
@-webkit-keyframes s_v5{
    0% {top:12%;left:63%;}
    100% {top:10%;left:60%;} 
}
@-webkit-keyframes s_v6{
    0% {top:33%;left:19%;}
    100% {top:35%;left:20%;} 
}
@-webkit-keyframes s_v7{
    0% {top:73%;left:13%;}
    100% {top:75%;left:10%;} 
}
@-webkit-keyframes s_v1_m{
    0% {top:100%;left:-10%;}
    100% {top:55%;left:50%;} 
}
@-webkit-keyframes s_v2_m{
    0% {top:100%;left:100%;}
    100% {top:48%;left:10%;} 
}
@-webkit-keyframes s_v3_m{
    0% {top:50%;left:100%;}
    100% {top:30%;left:50%;} 
}
@-webkit-keyframes s_v4_m{
    0% {top:50%;left:-50%;}
    100% {top:10%;left:10%;} 
}
@-webkit-keyframes s_v5_m{
    0% {top:50%;left:-20%;}
    100% {top:10%;left:60%;} 
}
@-webkit-keyframes s_v6_m{
    0% {top:50%;left:100%;}
    100% {top:35%;left:20%;} 
}
@-webkit-keyframes s_v7_m{
    0% {top:100%;left:100%;}
    100% {top:75%;left:10%;} 
}
/***************************************************eight*/
@-webkit-keyframes e_t4{
    0% {left:-2rem;top:5rem;}
    100% {left:-1rem;top:.6rem;} 
}
@-webkit-keyframes e_t1{
    0% {left:10rem;top:5.8rem;}
    100% {left:1rem;top:.8rem;} 
}
@-webkit-keyframes e_t10{
    0% {left:-2rem;top:7rem;}
    100% {left:5.5rem;top:1.2rem;} 
}
@-webkit-keyframes e_t5{
    0% {left:10rem;top:6.6rem;}
    100% {left:3rem;top:.6rem;} 
}
@-webkit-keyframes e_t6{
    0% {left:10rem;top:3.4rem;}
    100% {left:8.7rem;top:.4rem;} 
}
@-webkit-keyframes e_t7{
    0% {left:10.8rem;top:10rem;}
    100% {left:.8rem;top:5rem;} 
}
@-webkit-keyframes e_t3{
    0% {left:-2rem;top:7rem;}
    100% {left:8rem;top:4rem;} 
}
@-webkit-keyframes e_t8{
    0% {left:12rem;top:12rem;}
    100% {left:9rem;top:10rem;} 
}
@-webkit-keyframes e_m_t7{
    0% {left:1rem;top:5.1rem;}
    100% {left:.8rem;top:5rem;} 
}
@-webkit-keyframes e_m_t3{
    0% {left:8.2rem;top:4.3rem;}
    100% {left:8rem;top:4rem;} 
}
@-webkit-keyframes e_m_t8{
    0% {left:9.1rem;top:10.3rem;}
    100% {left:9rem;top:10rem;} 
}



@-moz-keyframes opc{
    0% {opacity: 0; }
    100% {opacity: 1; } 
}
@keyframes mic{
    0% {-webkit-transform: rotateZ(0deg);
       -moz-transform: rotateZ(0deg);
        -ms-transform: rotateZ(0deg);
         -o-transform: rotateZ(0deg);
            transform: rotateZ(0deg); }
    100% {-webkit-transform: rotateZ(360deg);
       -moz-transform: rotateZ(360deg);
        -ms-transform: rotateZ(360deg);
         -o-transform: rotateZ(360deg);
            transform: rotateZ(360deg); } 
}
@-moz-keyframes mic{
    0% {-webkit-transform: rotateZ(0deg);
       -moz-transform: rotateZ(0deg);
        -ms-transform: rotateZ(0deg);
         -o-transform: rotateZ(0deg);
            transform: rotateZ(0deg); }
    100% {-webkit-transform: rotateZ(360deg);
       -moz-transform: rotateZ(360deg);
        -ms-transform: rotateZ(360deg);
         -o-transform: rotateZ(360deg);
            transform: rotateZ(360deg); } 
}
/***************************************************one*/
@-moz-keyframes down_yel {
  0% {left: -20rem;top: -20rem;opacity: 0; }
  100% {left: -0.8rem;top: -0.7rem;opacity: 1; } 
}

@-moz-keyframes top_img4 {
  0% {left: 20rem;top: 20rem;opacity: 0; }
  100% {top: 5rem;left: 7.44rem;opacity: 1; } 
}
@-moz-keyframes rote{
    0%{-webkit-transform: rotateZ(180deg);
       -moz-transform: rotateZ(180deg);
        -ms-transform: rotateZ(180deg);
         -o-transform: rotateZ(180deg);
            transform: rotateZ(180deg);}
    100%{-webkit-transform: rotateZ(170deg);
       -moz-transform: rotateZ(170deg);
        -ms-transform: rotateZ(170deg);
         -o-transform: rotateZ(170deg);
            transform: rotateZ(170deg);
    }
}
@-moz-keyframes rote2{
    0%{-webkit-transform: rotateZ(0deg);
       -moz-transform: rotateZ(0deg);
        -ms-transform: rotateZ(0deg);
         -o-transform: rotateZ(0deg);
            transform: rotateZ(0deg);}
    100%{-webkit-transform: rotateZ(10deg);
       -moz-transform: rotateZ(10deg);
        -ms-transform: rotateZ(10deg);
         -o-transform: rotateZ(10deg);
            transform: rotateZ(10deg);
    }
}

@-moz-keyframes r{
    0% {width: 7.85rem;height: 14.12rem;opacity: 0; }
    100% {width: 1.85rem;height: 2.12rem;opacity: 1;} 
}
@-moz-keyframes s1{
    0% {width: 6.67rem;height: 6.86rem;opacity: 0; }
    100% {width: 0.67rem;height: 0.86rem;opacity: 1;} 
}
@-moz-keyframes e{
    0% {width: 7.76rem; height: 7.86rem;opacity: 0; }
    100% {width: 0.76rem; height: 0.86rem;opacity: 1;} 
}
@-moz-keyframes jian{
    0% { width: 1.05rem; height: 1.03rem;opacity: 0; }
    100% {width: 1.05rem; height: 1.03rem;opacity: 1; } 
}
@-moz-keyframes cd{
    0% {left: -10rem;top: 60rem;opacity: 0; }
    100% {left:1.2rem;top:11.0rem;opacity: 1; } 
}
@-moz-keyframes slide{
    0% {bottom:.5rem;left:4.4rem; }
    20% {bottom:.75rem;left:4.4rem; }
    30% {bottom:.75rem;left:4.4rem; }
    50% {bottom:1rem;left:4.4rem;} 
    100% {bottom:.5rem;left:4.4rem; }

}
@-moz-keyframes l1{
    0% {left: -3rem;top: 2rem;opacity: 0; }
    1% {left: -3rem;top: 2rem;opacity: 1; }
    60% {left: 11rem;top: 10rem;opacity: 1; }
    61% {left: 11rem;top: 10rem;opacity: 0; }
    100% {left: 11rem;top: 10rem;opacity: 0; }
}
@-moz-keyframes l2{
    0% {left: 10rem;top: 15rem;opacity: 0; }
    40% {left: 10rem;top: 15rem;opacity: 0; }
    41% {left: 10rem;top:15rem;opacity: 1; }
    99% {left: -5rem;top: 2rem;opacity: 1; }
    100% {left: -5rem;top: 2rem;opacity: 0; }
}
@-moz-keyframes l3{
    0% {left: 11rem;top: -2rem;opacity: 0; }
    20% {left: 11rem;top: -2rem;opacity: 0; }
    21% {left: 11rem;top: -2rem;opacity: 1; }
    80% {left: -3rem;top: 6rem;opacity: 0; }
    81% {left: -3rem;top: 6rem;opacity: 0; }
    100% {left: -3rem;top: 6rem;opacity: 0; }
}

/***************************************************three*/
@-moz-keyframes sp{
    0% {left: -2rem;top:-1rem;opacity: 0; }
    100% {left:1rem;top: 1.5rem;opacity: 1; } 
}
@-moz-keyframes con1_1{
    0% {width: 0;height: 0;opacity:0; right:17%;bottom:5%; }
    100% { width: 70%;height: 40%;right:10%;opacity:1; bottom:30%;} 
}
@-moz-keyframes con1_2{
    0% { width: 70%;height: 40%;right:10%;opacity:1; bottom:30%;} 
    100% {width: 0;height: 0;opacity:0; right:17%;bottom:5%; }
}
@-moz-keyframes con2_1{
    0% {width: 0;height: 0;opacity:0; right:7%;bottom:27%; }
    100% { width: 70%;height: 40%;right:10%;opacity:1; bottom:30%;} 
}
@-moz-keyframes con2_2{
    0% { width: 70%;height: 40%;right:10%;opacity:1; bottom:30%;} 
    100% {width: 0;height: 0;opacity:0; right:7%;bottom:27%; }
}
@-moz-keyframes con3_1{
    0% {width: 0;height: 0;opacity:0; right:59%;bottom:12%; }
    100% { width: 70%;height: 40%;right:10%;opacity:1; bottom:30%;} 
}
@-moz-keyframes con3_2{
    0% { width: 70%;height: 40%;right:10%;opacity:1; bottom:30%;} 
    100% {width: 0;height: 0;opacity:0; right:59%;bottom:12%; }
}
@-moz-keyframes con4_1{
    0% {width: 0;height: 0;opacity:0; right:5%;bottom:62%; }
    100% { width: 70%;height: 40%;right:10%;opacity:1; bottom:30%;} 
}
@-moz-keyframes con4_2{
    0% { width: 70%;height: 40%;right:10%;opacity:1; bottom:30%;} 
    100% {width: 0;height: 0;opacity:0; right:5%;bottom:62%; }
}
@-moz-keyframes con5_1{
    0% {width: 0;height: 0;opacity:0; right:29%;bottom:42%; }
    100% { width: 70%;height: 40%;right:10%;opacity:1; bottom:30%;} 
}
@-moz-keyframes con5_2{
    0% { width: 70%;height: 40%;right:10%;opacity:1; bottom:30%;} 
    100% {width: 0;height: 0;opacity:0; right:29%;bottom:42%; }
}
@-moz-keyframes con6_1{
    0% {width: 0;height: 0;opacity:0; right:57%;bottom:46%; }
    100% { width: 70%;height: 40%;right:10%;opacity:1; bottom:30%;} 
}
@-moz-keyframes con6_2{
    0% { width: 70%;height: 40%;right:10%;opacity:1; bottom:30%;} 
    100% {width: 0;height: 0;opacity:0; right:57%;bottom:46%; }
}
@-moz-keyframes con7_1{
    0% {width: 0;height: 0;opacity:0; right:81%;bottom:27%; }
    100% { width: 70%;height: 40%;right:10%;opacity:1; bottom:30%;} 
}
@-moz-keyframes con7_2{
    0% { width: 70%;height: 40%;right:10%;opacity:1; bottom:30%;} 
    100% {width: 0;height: 0;opacity:0; right:81%;bottom:27%; }
}
@-moz-keyframes con8_1{
    0% {width: 0;height: 0;opacity:0; right:33%;bottom:66%; }
    100% { width: 70%;height: 40%;right:10%;opacity:1; bottom:30%;} 
}
@-moz-keyframes con8_2{
    0% { width: 70%;height: 40%;right:10%;opacity:1; bottom:30%;} 
    100% {width: 0;height: 0;opacity:0; right:33%;bottom:66%; }
}
@-moz-keyframes con9_1{
    0% {width: 0;height: 0;opacity:0; right:79%;bottom:61%; }
    100% { width: 70%;height: 40%;right:10%;opacity:1; bottom:30%;} 
}
@-moz-keyframes con9_2{
    0% { width: 70%;height: 40%;right:10%;opacity:1; bottom:30%;} 
    100% {width: 0;height: 0;opacity:0; right:79%;bottom:61%; }
}

/***************************************************fore*/
@-moz-keyframes f_t4{
    0% {top:0;left:-3rem;opacity: 0; }
    100% {top:0;left:-1rem;opacity: 1; } 
}
@-moz-keyframes f_t3{
    0% {top:5rem;left:10rem;opacity: 0; }
    100% {top:1rem;left:1rem;opacity: 1; } 
}
@-moz-keyframes f_t1{
    0% {top:1rem;left:-2rem;opacity: 0; }
    100% {top:1rem;left:2rem;opacity: 1; } 
}
@-moz-keyframes f_t5{
    0% {top:5rem;left:-2rem;opacity: 0; }
    100% {top:1rem;left:5rem;opacity: 1; } 
}
@-moz-keyframes f_t9{
    0% {top:5rem;left:10rem;opacity: 0; }
    100% {top:3.2rem;left:7rem;opacity: 1; } 
}
@-moz-keyframes f_t7{
    0% {top:-0.5rem;left:10rem;opacity: 0; }
    100% {top:-0.5rem;left:8.5rem;opacity: 1; } 
}

/***************************************************five*/
@-moz-keyframes f_d1{
    0% {left:-1rem;top:0;opacity: 0; }
    100% {left:.8rem;top:0;opacity: 1; } 
}
@-moz-keyframes f_d2{
    0% {left:10rem;top:3.85rem;opacity: 0; }
    100% {left:.2rem;top:.85rem;opacity: 1; } 
}
@-moz-keyframes f_d3{
    0% {left:-3rem;top:5.85rem;opacity: 0; }
    100% {left:6rem;top:.85rem;opacity: 1; } 
}
@-moz-keyframes f_d4{
    0% {left:10rem;top:5.85rem;opacity: 0; }
    100% {left:3rem;top:.85rem;opacity: 1; } 
}
@-moz-keyframes f_d5{
    0% {left:10.5rem;top:6.2rem;opacity: 0; }
    100% {left:7.5rem;top:4.2rem;opacity: 1; } 
}
/***************************************************six*/
@-moz-keyframes s_e1{
    0% {left:1rem;top:1.2rem;}
    100% {left:.8rem;top:1rem;} 
}
@-moz-keyframes s_e2{
    0% {left:-1.8rem;top:5.2rem;}
    100% {left:-2rem;top:5rem;} 
}
@-moz-keyframes s_e3{
    0% {left:-1rem;bottom:-0.2rem;}
    100% {left:-.8rem;bottom:0rem;} 
}
@-moz-keyframes s_e4{
    0% {right:-1.2rem;top:4.2rem;}
    100% {right:-1rem;top:4rem;} 
}
@-moz-keyframes s_e5{
    0% {right:-0.8rem;top:8.2rem;}
    100% {right:-1rem;top:8rem;} 
}
@-moz-keyframes s_e6{
    0% {right:1.2rem;bottom:.8rem;}
    100% {right:1rem;bottom:1rem;} 
}
@-moz-keyframes s_span{
    0% {top:20%;left:100%;opacity:0;}
    100% {top:20%;left:30%;opacity:1;} 
}
@-moz-keyframes s_em{
    0% { top:44%;left:-60%;opacity:0;}
    100% { top:44%;left:10%;opacity:1;} 
}
@-moz-keyframes s_strong{
    0% {top:75%;left:100%;opacity:0;}
    100% {top:75%;left:20%;opacity:1;} 
}
/***************************************************seven*/
@-moz-keyframes s_v1{
    0% {top:52%;left:52%;}
    100% {top:55%;left:50%;} 
}
@-moz-keyframes s_v2{
    0% {top:47%;left:8%;}
    100% {top:48%;left:10%;} 
}
@-moz-keyframes s_v3{
    0% {top:31%;left:53%;}
    100% {top:30%;left:50%;} 
}
@-moz-keyframes s_v4{
    0% {top:8%;left:13%;}
    100% {top:10%;left:10%;} 
}
@-moz-keyframes s_v5{
    0% {top:12%;left:63%;}
    100% {top:10%;left:60%;} 
}
@-moz-keyframes s_v6{
    0% {top:33%;left:19%;}
    100% {top:35%;left:20%;} 
}
@-moz-keyframes s_v7{
    0% {top:73%;left:13%;}
    100% {top:75%;left:10%;} 
}
@-moz-keyframes s_v1_m{
    0% {top:100%;left:-10%;}
    100% {top:55%;left:50%;} 
}
@-moz-keyframes s_v2_m{
    0% {top:100%;left:100%;}
    100% {top:48%;left:10%;} 
}
@-moz-keyframes s_v3_m{
    0% {top:50%;left:100%;}
    100% {top:30%;left:50%;} 
}
@-moz-keyframes s_v4_m{
    0% {top:50%;left:-50%;}
    100% {top:10%;left:10%;} 
}
@-moz-keyframes s_v5_m{
    0% {top:50%;left:-20%;}
    100% {top:10%;left:60%;} 
}
@-moz-keyframes s_v6_m{
    0% {top:50%;left:100%;}
    100% {top:35%;left:20%;} 
}
@-moz-keyframes s_v7_m{
    0% {top:100%;left:100%;}
    100% {top:75%;left:10%;} 
}
/***************************************************eight*/
@-moz-keyframes e_t4{
    0% {left:-2rem;top:5rem;}
    100% {left:-1rem;top:.6rem;} 
}
@-moz-keyframes e_t1{
    0% {left:10rem;top:5.8rem;}
    100% {left:1rem;top:.8rem;} 
}
@-moz-keyframes e_t10{
    0% {left:-2rem;top:7rem;}
    100% {left:5.5rem;top:1.2rem;} 
}
@-moz-keyframes e_t5{
    0% {left:10rem;top:6.6rem;}
    100% {left:3rem;top:.6rem;} 
}
@-moz-keyframes e_t6{
    0% {left:10rem;top:3.4rem;}
    100% {left:8.7rem;top:.4rem;} 
}
@-moz-keyframes e_t7{
    0% {left:10.8rem;top:10rem;}
    100% {left:.8rem;top:5rem;} 
}
@-moz-keyframes e_t3{
    0% {left:-2rem;top:7rem;}
    100% {left:8rem;top:4rem;} 
}
@-moz-keyframes e_t8{
    0% {left:12rem;top:12rem;}
    100% {left:9rem;top:10rem;} 
}
@-moz-keyframes e_m_t7{
    0% {left:1rem;top:5.1rem;}
    100% {left:.8rem;top:5rem;} 
}
@-moz-keyframes e_m_t3{
    0% {left:8.2rem;top:4.3rem;}
    100% {left:8rem;top:4rem;} 
}
@-moz-keyframes e_m_t8{
    0% {left:9.1rem;top:10.3rem;}
    100% {left:9rem;top:10rem;} 
}

@-o-keyframes opc{
    0% {opacity: 0; }
    100% {opacity: 1; } 
}
@keyframes mic{
    0% {-webkit-transform: rotateZ(0deg);
       -moz-transform: rotateZ(0deg);
        -ms-transform: rotateZ(0deg);
         -o-transform: rotateZ(0deg);
            transform: rotateZ(0deg); }
    100% {-webkit-transform: rotateZ(360deg);
       -moz-transform: rotateZ(360deg);
        -ms-transform: rotateZ(360deg);
         -o-transform: rotateZ(360deg);
            transform: rotateZ(360deg); } 
}
@-o-keyframes mic{
    0% {-webkit-transform: rotateZ(0deg);
       -moz-transform: rotateZ(0deg);
        -ms-transform: rotateZ(0deg);
         -o-transform: rotateZ(0deg);
            transform: rotateZ(0deg); }
    100% {-webkit-transform: rotateZ(360deg);
       -moz-transform: rotateZ(360deg);
        -ms-transform: rotateZ(360deg);
         -o-transform: rotateZ(360deg);
            transform: rotateZ(360deg); } 
}
/***************************************************one*/
@-o-keyframes down_yel {
  0% {left: -20rem;top: -20rem;opacity: 0; }
  100% {left: -0.8rem;top: -0.7rem;opacity: 1; } 
}

@-o-keyframes top_img4 {
  0% {left: 20rem;top: 20rem;opacity: 0; }
  100% {top: 5rem;left: 7.44rem;opacity: 1; } 
}
@-o-keyframes rote{
    0%{-webkit-transform: rotateZ(180deg);
       -moz-transform: rotateZ(180deg);
        -ms-transform: rotateZ(180deg);
         -o-transform: rotateZ(180deg);
            transform: rotateZ(180deg);}
    100%{-webkit-transform: rotateZ(170deg);
       -moz-transform: rotateZ(170deg);
        -ms-transform: rotateZ(170deg);
         -o-transform: rotateZ(170deg);
            transform: rotateZ(170deg);
    }
}
@-o-keyframes rote2{
    0%{-webkit-transform: rotateZ(0deg);
       -moz-transform: rotateZ(0deg);
        -ms-transform: rotateZ(0deg);
         -o-transform: rotateZ(0deg);
            transform: rotateZ(0deg);}
    100%{-webkit-transform: rotateZ(10deg);
       -moz-transform: rotateZ(10deg);
        -ms-transform: rotateZ(10deg);
         -o-transform: rotateZ(10deg);
            transform: rotateZ(10deg);
    }
}

@-o-keyframes r{
    0% {width: 7.85rem;height: 14.12rem;opacity: 0;}
    100% {width: 1.85rem;height: 2.12rem;opacity: 1; } 
}
@-o-keyframes s1{
    0% {width: 6.67rem;height: 6.86rem;opacity: 0;}
    100% {width: 0.67rem;height: 0.86rem;opacity: 1; } 
}
@-o-keyframes e{
    0% {width: 7.76rem; height: 7.86rem;opacity: 0;}
    100% {width: 0.76rem; height: 0.86rem;opacity: 1; } 
}
@-o-keyframes jian{
    0% { width: 1.05rem; height: 1.03rem;opacity: 0;}
    100% {width: 1.05rem; height: 1.03rem;opacity: 1;} 
}
@-o-keyframes cd{
    0% {left: -10rem;top: 60rem;opacity: 0; }
    100% {left:1.2rem;top:11.0rem;opacity: 1; } 
}
@-o-keyframes slide{
    0% {bottom:.5rem;left:4.4rem; }
    20% {bottom:.75rem;left:4.4rem; }
    30% {bottom:.75rem;left:4.4rem; }
    50% {bottom:1rem;left:4.4rem;} 
    100% {bottom:.5rem;left:4.4rem; }

}
@-o-keyframes l1{
    0% {left: -3rem;top: 2rem;opacity: 0; }
    1% {left: -3rem;top: 2rem;opacity: 1; }
    60% {left: 11rem;top: 10rem;opacity: 1; }
    61% {left: 11rem;top: 10rem;opacity: 0; }
    100% {left: 11rem;top: 10rem;opacity: 0; }
}
@-o-keyframes l2{
    0% {left: 10rem;top: 15rem;opacity: 0; }
    40% {left: 10rem;top: 15rem;opacity: 0; }
    41% {left: 10rem;top:15rem;opacity: 1; }
    99% {left: -5rem;top: 2rem;opacity: 1; }
    100% {left: -5rem;top: 2rem;opacity: 0; }
}
@-o-keyframes l3{
    0% {left: 11rem;top: -2rem;opacity: 0; }
    20% {left: 11rem;top: -2rem;opacity: 0; }
    21% {left: 11rem;top: -2rem;opacity: 1; }
    80% {left: -3rem;top: 6rem;opacity: 0; }
    81% {left: -3rem;top: 6rem;opacity: 0; }
    100% {left: -3rem;top: 6rem;opacity: 0; }
}


/***************************************************three*/
@-o-keyframes sp{
    0% {left: -2rem;top:-1rem;opacity: 0; }
    100% {left:1rem;top: 1.5rem;opacity: 1; } 
}
@-o-keyframes con1_1{
    0% {width: 0;height: 0;opacity:0; right:17%;bottom:5%; }
    100% { width: 70%;height: 40%;right:10%;opacity:1; bottom:30%;} 
}
@-o-keyframes con1_2{
    0% { width: 70%;height: 40%;right:10%;opacity:1; bottom:30%;} 
    100% {width: 0;height: 0;opacity:0; right:17%;bottom:5%; }
}
@-o-keyframes con2_1{
    0% {width: 0;height: 0;opacity:0; right:7%;bottom:27%; }
    100% { width: 70%;height: 40%;right:10%;opacity:1; bottom:30%;} 
}
@-o-keyframes con2_2{
    0% { width: 70%;height: 40%;right:10%;opacity:1; bottom:30%;} 
    100% {width: 0;height: 0;opacity:0; right:7%;bottom:27%; }
}
@-o-keyframes con3_1{
    0% {width: 0;height: 0;opacity:0; right:59%;bottom:12%; }
    100% { width: 70%;height: 40%;right:10%;opacity:1; bottom:30%;} 
}
@-o-keyframes con3_2{
    0% { width: 70%;height: 40%;right:10%;opacity:1; bottom:30%;} 
    100% {width: 0;height: 0;opacity:0; right:59%;bottom:12%; }
}
@-o-keyframes con4_1{
    0% {width: 0;height: 0;opacity:0; right:5%;bottom:62%; }
    100% { width: 70%;height: 40%;right:10%;opacity:1; bottom:30%;} 
}
@-o-keyframes con4_2{
    0% { width: 70%;height: 40%;right:10%;opacity:1; bottom:30%;} 
    100% {width: 0;height: 0;opacity:0; right:5%;bottom:62%; }
}
@-o-keyframes con5_1{
    0% {width: 0;height: 0;opacity:0; right:29%;bottom:42%; }
    100% { width: 70%;height: 40%;right:10%;opacity:1; bottom:30%;} 
}
@-o-keyframes con5_2{
    0% { width: 70%;height: 40%;right:10%;opacity:1; bottom:30%;} 
    100% {width: 0;height: 0;opacity:0; right:29%;bottom:42%; }
}
@-o-keyframes con6_1{
    0% {width: 0;height: 0;opacity:0; right:57%;bottom:46%; }
    100% { width: 70%;height: 40%;right:10%;opacity:1; bottom:30%;} 
}
@-o-keyframes con6_2{
    0% { width: 70%;height: 40%;right:10%;opacity:1; bottom:30%;} 
    100% {width: 0;height: 0;opacity:0; right:57%;bottom:46%; }
}
@-o-keyframes con7_1{
    0% {width: 0;height: 0;opacity:0; right:81%;bottom:27%; }
    100% { width: 70%;height: 40%;right:10%;opacity:1; bottom:30%;} 
}
@-o-keyframes con7_2{
    0% { width: 70%;height: 40%;right:10%;opacity:1; bottom:30%;} 
    100% {width: 0;height: 0;opacity:0; right:81%;bottom:27%; }
}
@-o-keyframes con8_1{
    0% {width: 0;height: 0;opacity:0; right:33%;bottom:66%; }
    100% { width: 70%;height: 40%;right:10%;opacity:1; bottom:30%;} 
}
@-o-keyframes con8_2{
    0% { width: 70%;height: 40%;right:10%;opacity:1; bottom:30%;} 
    100% {width: 0;height: 0;opacity:0; right:33%;bottom:66%; }
}
@-o-keyframes con9_1{
    0% {width: 0;height: 0;opacity:0; right:79%;bottom:61%; }
    100% { width: 70%;height: 40%;right:10%;opacity:1; bottom:30%;} 
}
@-o-keyframes con9_2{
    0% { width: 70%;height: 40%;right:10%;opacity:1; bottom:30%;} 
    100% {width: 0;height: 0;opacity:0; right:79%;bottom:61%; }
}

/***************************************************fore*/
@-o-keyframes f_t4{
    0% {top:0;left:-3rem;opacity: 0; }
    100% {top:0;left:-1rem;opacity: 1; } 
}
@-o-keyframes f_t3{
    0% {top:5rem;left:10rem;opacity: 0; }
    100% {top:1rem;left:1rem;opacity: 1; } 
}
@-o-keyframes f_t1{
    0% {top:1rem;left:-2rem;opacity: 0; }
    100% {top:1rem;left:2rem;opacity: 1; } 
}
@-o-keyframes f_t5{
    0% {top:5rem;left:-2rem;opacity: 0; }
    100% {top:1rem;left:5rem;opacity: 1; } 
}
@-o-keyframes f_t9{
    0% {top:5rem;left:10rem;opacity: 0; }
    100% {top:3.2rem;left:7rem;opacity: 1; } 
}
@-o-keyframes f_t7{
    0% {top:-0.5rem;left:10rem;opacity: 0; }
    100% {top:-0.5rem;left:8.5rem;opacity: 1; } 
}

/***************************************************five*/
@-o-keyframes f_d1{
    0% {left:-1rem;top:0;opacity: 0; }
    100% {left:.8rem;top:0;opacity: 1; } 
}
@-o-keyframes f_d2{
    0% {left:10rem;top:3.85rem;opacity: 0; }
    100% {left:.2rem;top:.85rem;opacity: 1; } 
}
@-o-keyframes f_d3{
    0% {left:-3rem;top:5.85rem;opacity: 0; }
    100% {left:6rem;top:.85rem;opacity: 1; } 
}
@-o-keyframes f_d4{
    0% {left:10rem;top:5.85rem;opacity: 0; }
    100% {left:3rem;top:.85rem;opacity: 1; } 
}
@-o-keyframes f_d5{
    0% {left:10.5rem;top:6.2rem;opacity: 0; }
    100% {left:7.5rem;top:4.2rem;opacity: 1; } 
}
/***************************************************six*/
@-o-keyframes s_e1{
    0% {left:1rem;top:1.2rem;}
    100% {left:.8rem;top:1rem;} 
}
@-o-keyframes s_e2{
    0% {left:-1.8rem;top:5.2rem;}
    100% {left:-2rem;top:5rem;} 
}
@-o-keyframes s_e3{
    0% {left:-1rem;bottom:-0.2rem;}
    100% {left:-.8rem;bottom:0rem;} 
}
@-o-keyframes s_e4{
    0% {right:-1.2rem;top:4.2rem;}
    100% {right:-1rem;top:4rem;} 
}
@-o-keyframes s_e5{
    0% {right:-0.8rem;top:8.2rem;}
    100% {right:-1rem;top:8rem;} 
}
@-o-keyframes s_e6{
    0% {right:1.2rem;bottom:.8rem;}
    100% {right:1rem;bottom:1rem;} 
}
@-o-keyframes s_span{
    0% {top:20%;left:100%;opacity:0;}
    100% {top:20%;left:30%;opacity:1;} 
}
@-o-keyframes s_em{
    0% { top:44%;left:-60%;opacity:0;}
    100% { top:44%;left:10%;opacity:1;} 
}
@-o-keyframes s_strong{
    0% {top:75%;left:100%;opacity:0;}
    100% {top:75%;left:20%;opacity:1;} 
}
/***************************************************seven*/
@-o-keyframes s_v1{
    0% {top:52%;left:52%;}
    100% {top:55%;left:50%;} 
}
@-o-keyframes s_v2{
    0% {top:47%;left:8%;}
    100% {top:48%;left:10%;} 
}
@-o-keyframes s_v3{
    0% {top:31%;left:53%;}
    100% {top:30%;left:50%;} 
}
@-o-keyframes s_v4{
    0% {top:8%;left:13%;}
    100% {top:10%;left:10%;} 
}
@-o-keyframes s_v5{
    0% {top:12%;left:63%;}
    100% {top:10%;left:60%;} 
}
@-o-keyframes s_v6{
    0% {top:33%;left:19%;}
    100% {top:35%;left:20%;} 
}
@-o-keyframes s_v7{
    0% {top:73%;left:13%;}
    100% {top:75%;left:10%;} 
}
@-o-keyframes s_v1_m{
    0% {top:100%;left:-10%;}
    100% {top:55%;left:50%;} 
}
@-o-keyframes s_v2_m{
    0% {top:100%;left:100%;}
    100% {top:48%;left:10%;} 
}
@-o-keyframes s_v3_m{
    0% {top:50%;left:100%;}
    100% {top:30%;left:50%;} 
}
@-o-keyframes s_v4_m{
    0% {top:50%;left:-50%;}
    100% {top:10%;left:10%;} 
}
@-o-keyframes s_v5_m{
    0% {top:50%;left:-20%;}
    100% {top:10%;left:60%;} 
}
@-o-keyframes s_v6_m{
    0% {top:50%;left:100%;}
    100% {top:35%;left:20%;} 
}
@-o-keyframes s_v7_m{
    0% {top:100%;left:100%;}
    100% {top:75%;left:10%;} 
}
/***************************************************eight*/
@-o-keyframes e_t4{
    0% {left:-2rem;top:5rem;}
    100% {left:-1rem;top:.6rem;} 
}
@-o-keyframes e_t1{
    0% {left:10rem;top:5.8rem;}
    100% {left:1rem;top:.8rem;} 
}
@-o-keyframes e_t10{
    0% {left:-2rem;top:7rem;}
    100% {left:5.5rem;top:1.2rem;} 
}
@-o-keyframes e_t5{
    0% {left:10rem;top:6.6rem;}
    100% {left:3rem;top:.6rem;} 
}
@-o-keyframes e_t6{
    0% {left:10rem;top:3.4rem;}
    100% {left:8.7rem;top:.4rem;} 
}
@-o-keyframes e_t7{
    0% {left:10.8rem;top:10rem;}
    100% {left:.8rem;top:5rem;} 
}
@-o-keyframes e_t3{
    0% {left:-2rem;top:7rem;}
    100% {left:8rem;top:4rem;} 
}
@-o-keyframes e_t8{
    0% {left:12rem;top:12rem;}
    100% {left:9rem;top:10rem;} 
}
@-o-keyframes e_m_t7{
    0% {left:1rem;top:5.1rem;}
    100% {left:.8rem;top:5rem;} 
}
@-o-keyframes e_m_t3{
    0% {left:8.2rem;top:4.3rem;}
    100% {left:8rem;top:4rem;} 
}
@-o-keyframes e_m_t8{
    0% {left:9.1rem;top:10.3rem;}
    100% {left:9rem;top:10rem;} 
}

@-ms-keyframes opc{
    0% {opacity: 0; }
    100% {opacity: 1; } 
}
@-ms-keyframes mic{
    0% {-webkit-transform: rotateZ(0deg);
       -moz-transform: rotateZ(0deg);
        -ms-transform: rotateZ(0deg);
         -o-transform: rotateZ(0deg);
            transform: rotateZ(0deg); }
    100% {-webkit-transform: rotateZ(360deg);
       -moz-transform: rotateZ(360deg);
        -ms-transform: rotateZ(360deg);
         -o-transform: rotateZ(360deg);
            transform: rotateZ(360deg); } 
}
/***************************************************one*/
@-ms-keyframes down_yel {
  0% {left: -20rem;top: -20rem;opacity: 0; }
  100% {left: -0.8rem;top: -0.7rem;opacity: 1; } 
}

@-ms-keyframes top_img4 {
  0% {left: 20rem;top: 20rem;opacity: 0; }
  100% {top: 5rem;left: 7.44rem;opacity: 1; } 
}
@-ms-keyframes rote{
    0%{-webkit-transform: rotateZ(180deg);
       -moz-transform: rotateZ(180deg);
        -ms-transform: rotateZ(180deg);
         -o-transform: rotateZ(180deg);
            transform: rotateZ(180deg);}
    100%{-webkit-transform: rotateZ(170deg);
       -moz-transform: rotateZ(170deg);
        -ms-transform: rotateZ(170deg);
         -o-transform: rotateZ(170deg);
            transform: rotateZ(170deg);
    }
}
@-ms-keyframes rote2{
    0%{-webkit-transform: rotateZ(0deg);
       -moz-transform: rotateZ(0deg);
        -ms-transform: rotateZ(0deg);
         -o-transform: rotateZ(0deg);
            transform: rotateZ(0deg);}
    100%{-webkit-transform: rotateZ(10deg);
       -moz-transform: rotateZ(10deg);
        -ms-transform: rotateZ(10deg);
         -o-transform: rotateZ(10deg);
            transform: rotateZ(10deg);
    }
}


@-ms-keyframes r{
    0% {width: 7.85rem;height: 14.12rem;opacity: 0;}
    100% {width: 1.85rem;height: 2.12rem;opacity: 1; } 
}
@-ms-keyframes s1{
    0% {width: 6.67rem;height: 6.86rem;opacity: 0;}
    100% {width: 0.67rem;height: 0.86rem;opacity: 1; } 
}
@-ms-keyframes e{
    0% {width: 7.76rem; height: 7.86rem;opacity: 0;}
    100% {width: 0.76rem; height: 0.86rem;opacity: 1; } 
}
@-ms-keyframes jian{
    0% { width: 1.05rem; height: 1.03rem;opacity: 0;}
    100% {width: 1.05rem; height: 1.03rem;opacity: 1;} 
}
@-ms-keyframes cd{
    0% {left: -10rem;top: 60rem;opacity: 0; }
    100% {left:1.2rem;top:11.0rem;opacity: 1; } 
}
@-ms-keyframes slide{
    0% {bottom:.5rem;left:4.4rem; }
    20% {bottom:.75rem;left:4.4rem; }
    30% {bottom:.75rem;left:4.4rem; }
    50% {bottom:1rem;left:4.4rem;} 
    100% {bottom:.5rem;left:4.4rem; }

}
@-ms-keyframes l1{
    0% {left: -3rem;top: 2rem;opacity: 0; }
    1% {left: -3rem;top: 2rem;opacity: 1; }
    60% {left: 11rem;top: 10rem;opacity: 1; }
    61% {left: 11rem;top: 10rem;opacity: 0; }
    100% {left: 11rem;top: 10rem;opacity: 0; }
}
@-ms-keyframes l2{
    0% {left: 10rem;top: 15rem;opacity: 0; }
    40% {left: 10rem;top: 15rem;opacity: 0; }
    41% {left: 10rem;top:15rem;opacity: 1; }
    99% {left: -5rem;top: 2rem;opacity: 1; }
    100% {left: -5rem;top: 2rem;opacity: 0; }
}
@-ms-keyframes l3{
    0% {left: 11rem;top: -2rem;opacity: 0; }
    20% {left: 11rem;top: -2rem;opacity: 0; }
    21% {left: 11rem;top: -2rem;opacity: 1; }
    80% {left: -3rem;top: 6rem;opacity: 0; }
    81% {left: -3rem;top: 6rem;opacity: 0; }
    100% {left: -3rem;top: 6rem;opacity: 0; }
}


/***************************************************three*/
@-ms-keyframes sp{
    0% {left: -2rem;top:-1rem;opacity: 0; }
    100% {left:1rem;top: 1.5rem;opacity: 1; } 
}
@-ms-keyframes con1_1{
    0% {width: 0;height: 0;opacity:0; right:17%;bottom:5%; }
    100% { width: 70%;height: 40%;right:10%;opacity:1; bottom:30%;} 
}
@-ms-keyframes con1_2{
    0% { width: 70%;height: 40%;right:10%;opacity:1; bottom:30%;} 
    100% {width: 0;height: 0;opacity:0; right:17%;bottom:5%; }
}
@-ms-keyframes con2_1{
    0% {width: 0;height: 0;opacity:0; right:7%;bottom:27%; }
    100% { width: 70%;height: 40%;right:10%;opacity:1; bottom:30%;} 
}
@-ms-keyframes con2_2{
    0% { width: 70%;height: 40%;right:10%;opacity:1; bottom:30%;} 
    100% {width: 0;height: 0;opacity:0; right:7%;bottom:27%; }
}
@-ms-keyframes con3_1{
    0% {width: 0;height: 0;opacity:0; right:59%;bottom:12%; }
    100% { width: 70%;height: 40%;right:10%;opacity:1; bottom:30%;} 
}
@-ms-keyframes con3_2{
    0% { width: 70%;height: 40%;right:10%;opacity:1; bottom:30%;} 
    100% {width: 0;height: 0;opacity:0; right:59%;bottom:12%; }
}
@-ms-keyframes con4_1{
    0% {width: 0;height: 0;opacity:0; right:5%;bottom:62%; }
    100% { width: 70%;height: 40%;right:10%;opacity:1; bottom:30%;} 
}
@-ms-keyframes con4_2{
    0% { width: 70%;height: 40%;right:10%;opacity:1; bottom:30%;} 
    100% {width: 0;height: 0;opacity:0; right:5%;bottom:62%; }
}
@-ms-keyframes con5_1{
    0% {width: 0;height: 0;opacity:0; right:29%;bottom:42%; }
    100% { width: 70%;height: 40%;right:10%;opacity:1; bottom:30%;} 
}
@-ms-keyframes con5_2{
    0% { width: 70%;height: 40%;right:10%;opacity:1; bottom:30%;} 
    100% {width: 0;height: 0;opacity:0; right:29%;bottom:42%; }
}
@-ms-keyframes con6_1{
    0% {width: 0;height: 0;opacity:0; right:57%;bottom:46%; }
    100% { width: 70%;height: 40%;right:10%;opacity:1; bottom:30%;} 
}
@-ms-keyframes con6_2{
    0% { width: 70%;height: 40%;right:10%;opacity:1; bottom:30%;} 
    100% {width: 0;height: 0;opacity:0; right:57%;bottom:46%; }
}
@-ms-keyframes con7_1{
    0% {width: 0;height: 0;opacity:0; right:81%;bottom:27%; }
    100% { width: 70%;height: 40%;right:10%;opacity:1; bottom:30%;} 
}
@-ms-keyframes con7_2{
    0% { width: 70%;height: 40%;right:10%;opacity:1; bottom:30%;} 
    100% {width: 0;height: 0;opacity:0; right:81%;bottom:27%; }
}
@-ms-keyframes con8_1{
    0% {width: 0;height: 0;opacity:0; right:33%;bottom:66%; }
    100% { width: 70%;height: 40%;right:10%;opacity:1; bottom:30%;} 
}
@-ms-keyframes con8_2{
    0% { width: 70%;height: 40%;right:10%;opacity:1; bottom:30%;} 
    100% {width: 0;height: 0;opacity:0; right:33%;bottom:66%; }
}
@-ms-keyframes con9_1{
    0% {width: 0;height: 0;opacity:0; right:79%;bottom:61%; }
    100% { width: 70%;height: 40%;right:10%;opacity:1; bottom:30%;} 
}
@-ms-keyframes con9_2{
    0% { width: 70%;height: 40%;right:10%;opacity:1; bottom:30%;} 
    100% {width: 0;height: 0;opacity:0; right:79%;bottom:61%; }
}

/***************************************************fore*/
@-ms-keyframes f_t4{
    0% {top:0;left:-3rem;opacity: 0; }
    100% {top:0;left:-1rem;opacity: 1; } 
}
@-ms-keyframes f_t3{
    0% {top:5rem;left:10rem;opacity: 0; }
    100% {top:1rem;left:1rem;opacity: 1; } 
}
@-ms-keyframes f_t1{
    0% {top:1rem;left:-2rem;opacity: 0; }
    100% {top:1rem;left:2rem;opacity: 1; } 
}
@-ms-keyframes f_t5{
    0% {top:5rem;left:-2rem;opacity: 0; }
    100% {top:1rem;left:5rem;opacity: 1; } 
}
@-ms-keyframes f_t9{
    0% {top:5rem;left:10rem;opacity: 0; }
    100% {top:3.2rem;left:7rem;opacity: 1; } 
}
@-ms-keyframes f_t7{
    0% {top:-0.5rem;left:10rem;opacity: 0; }
    100% {top:-0.5rem;left:8.5rem;opacity: 1; } 
}

/***************************************************five*/
@-ms-keyframes f_d1{
    0% {left:-1rem;top:0;opacity: 0; }
    100% {left:.8rem;top:0;opacity: 1; } 
}
@-ms-keyframes f_d2{
    0% {left:10rem;top:3.85rem;opacity: 0; }
    100% {left:.2rem;top:.85rem;opacity: 1; } 
}
@-ms-keyframes f_d3{
    0% {left:-3rem;top:5.85rem;opacity: 0; }
    100% {left:6rem;top:.85rem;opacity: 1; } 
}
@-ms-keyframes f_d4{
    0% {left:10rem;top:5.85rem;opacity: 0; }
    100% {left:3rem;top:.85rem;opacity: 1; } 
}
@-ms-keyframes f_d5{
    0% {left:10.5rem;top:6.2rem;opacity: 0; }
    100% {left:7.5rem;top:4.2rem;opacity: 1; } 
}
/***************************************************six*/
@-ms-keyframes s_e1{
    0% {left:1rem;top:1.2rem;}
    100% {left:.8rem;top:1rem;} 
}
@-ms-keyframes s_e2{
    0% {left:-1.8rem;top:5.2rem;}
    100% {left:-2rem;top:5rem;} 
}
@-ms-keyframes s_e3{
    0% {left:-1rem;bottom:-0.2rem;}
    100% {left:-.8rem;bottom:0rem;} 
}
@-ms-keyframes s_e4{
    0% {right:-1.2rem;top:4.2rem;}
    100% {right:-1rem;top:4rem;} 
}
@-ms-keyframes s_e5{
    0% {right:-0.8rem;top:8.2rem;}
    100% {right:-1rem;top:8rem;} 
}
@-ms-keyframes s_e6{
    0% {right:1.2rem;bottom:.8rem;}
    100% {right:1rem;bottom:1rem;} 
}
@-ms-keyframes s_span{
    0% {top:20%;left:100%;opacity:0;}
    100% {top:20%;left:30%;opacity:1;} 
}
@-ms-keyframes s_em{
    0% { top:44%;left:-60%;opacity:0;}
    100% { top:44%;left:10%;opacity:1;} 
}
@-ms-keyframes s_strong{
    0% {top:75%;left:100%;opacity:0;}
    100% {top:75%;left:20%;opacity:1;} 
}
/***************************************************seven*/
@-ms-keyframes s_v1{
    0% {top:52%;left:52%;}
    100% {top:55%;left:50%;} 
}
@-ms-keyframes s_v2{
    0% {top:47%;left:8%;}
    100% {top:48%;left:10%;} 
}
@-ms-keyframes s_v3{
    0% {top:31%;left:53%;}
    100% {top:30%;left:50%;} 
}
@-ms-keyframes s_v4{
    0% {top:8%;left:13%;}
    100% {top:10%;left:10%;} 
}
@-ms-keyframes s_v5{
    0% {top:12%;left:63%;}
    100% {top:10%;left:60%;} 
}
@-ms-keyframes s_v6{
    0% {top:33%;left:19%;}
    100% {top:35%;left:20%;} 
}
@-ms-keyframes s_v7{
    0% {top:73%;left:13%;}
    100% {top:75%;left:10%;} 
}
@-ms-keyframes s_v1_m{
    0% {top:100%;left:-10%;}
    100% {top:55%;left:50%;} 
}
@-ms-keyframes s_v2_m{
    0% {top:100%;left:100%;}
    100% {top:48%;left:10%;} 
}
@-ms-keyframes s_v3_m{
    0% {top:50%;left:100%;}
    100% {top:30%;left:50%;} 
}
@-ms-keyframes s_v4_m{
    0% {top:50%;left:-50%;}
    100% {top:10%;left:10%;} 
}
@-ms-keyframes s_v5_m{
    0% {top:50%;left:-20%;}
    100% {top:10%;left:60%;} 
}
@-ms-keyframes s_v6_m{
    0% {top:50%;left:100%;}
    100% {top:35%;left:20%;} 
}
@-ms-keyframes s_v7_m{
    0% {top:100%;left:100%;}
    100% {top:75%;left:10%;} 
}
/***************************************************eight*/
@-ms-keyframes e_t4{
    0% {left:-2rem;top:5rem;}
    100% {left:-1rem;top:.6rem;} 
}
@-ms-keyframes e_t1{
    0% {left:10rem;top:5.8rem;}
    100% {left:1rem;top:.8rem;} 
}
@-ms-keyframes e_t10{
    0% {left:-2rem;top:7rem;}
    100% {left:5.5rem;top:1.2rem;} 
}
@-ms-keyframes e_t5{
    0% {left:10rem;top:6.6rem;}
    100% {left:3rem;top:.6rem;} 
}
@-ms-keyframes e_t6{
    0% {left:10rem;top:3.4rem;}
    100% {left:8.7rem;top:.4rem;} 
}
@-ms-keyframes e_t7{
    0% {left:10.8rem;top:10rem;}
    100% {left:.8rem;top:5rem;} 
}
@-ms-keyframes e_t3{
    0% {left:-2rem;top:7rem;}
    100% {left:8rem;top:4rem;} 
}
@-ms-keyframes e_t8{
    0% {left:12rem;top:12rem;}
    100% {left:9rem;top:10rem;} 
}
@-ms-keyframes e_m_t7{
    0% {left:1rem;top:5.1rem;}
    100% {left:.8rem;top:5rem;} 
}
@-ms-keyframes e_m_t3{
    0% {left:8.2rem;top:4.3rem;}
    100% {left:8rem;top:4rem;} 
}
@-ms-keyframes e_m_t8{
    0% {left:9.1rem;top:10.3rem;}
    100% {left:9rem;top:10rem;} 
}
