html ,body{
    width: 100%;
    height: 100%;
    background-color: #333;
    overflow: hidden;
    font-family: "黑体";
}



.wrap{
    width: 100%;
    height: 100%;
    overflow:hidden;
    color:white;
    transform-style: preserve-3d;
    -webkit-transform-style: preserve-3d;
    -moz-transform-style: preserve-3d;
    -ms-transform-style: preserve-3d;
    -o-transform-style: preserve-3d;

    perspective:500px;
    -webkit-perspective:500px;
    -moz-perspective:500px;
    -ms-perspective:500px;
    -o-perspective:500px;

}
.swiper-container{
    width: 100%;
    height: 100%;
    overflow: hidden;
}
.slide{
    left:4.4rem;
    bottom:.5rem;
    position:absolute;
    opacity:1;
    // animation:slide 1s both infinite;
}
.music{
    position:absolute;
    bottom:5%;
    right:5%;
    z-index: 99;
    width: 10%;
    // animation:mic 1s linear infinite;
}
.musicoff{
    position:absolute;
    bottom:5%;
    right:5%;
    width: 10%;
    z-index: 99;
    display:none;
    // animation:mic 1s linear infinite;
}
a{color:white;text-decoration:underline;}
a:visited{color:white;}
.tap{width: 3rem;position:absolute;top:70%;left:12%;opacity:0;}
.page_one{
    width: 100%;
    height: 100%;
    background-image:url(../imgs/bg1.jpg);
    background-size:100% 100%;
    overflow: hidden;
    transform-style: preserve-3d;
    -webkit-transform-style: preserve-3d;
    -moz-transform-style: preserve-3d;
    -ms-transform-style: preserve-3d;
    -o-transform-style: preserve-3d;

    perspective:500px;
    -webkit-perspective:500px;
    -moz-perspective:500px;
    -ms-perspective:500px;
    -o-perspective:500px;
    img{
        position:absolute;
    }
    .yel{
        opacity:0;
        transform:rotateZ(180deg);
        -webkit-transform:rotateZ(180deg);
        -moz-transform:rotateZ(180deg);
        -ms-transform:rotateZ(180deg);
        -o-transform:rotateZ(180deg);
        // animation:down_yel 1s both;
    }
    .img4{
        top:5rem;
        left:7.44rem;
        opacity:0;
        // animation:.5s top_img4 .5s both;
    }
    .resume{
        width: 3.64rem;
        height: 0.86rem;
        left:3.5rem;
        top:3.63rem;
    }
    .r{
        left:1.56rem;top:2.43rem;
        opacity:0;
        // animation:1s r .5s both;
    }
    .s{
        left:4.37rem;top:3.65rem;
        opacity:0;
        // animation:1s s1 .8s both;
    }
    .e{
        left:7.29rem;top:3.65rem;
        opacity:0;
        // animation:1s e 1s both;
    }
    .geren{
        width: 4.52rem;
        height: 1.03rem;
        left:3.59rem;
        top:2.42rem;
    }
    .jian{
        left:5.87rem;top:2.42rem;
        opacity:0;
        // animation:1s jian .7s both;
    }
    .cd{
        opacity:0;
        // animation:.4s Cd 1s both;
    }
    .text{
        position:absolute;
        width: 100%;
        text-align: center;
        font-size: 0.35rem;
        color:white;
        line-height: 0.77rem;
        top: 6.36rem;
        display:none;
    }
    .l1{
        opacity:0;
        // animation:2s l1 3s both infinite;
    }
    .l2{
        opacity:0;
        // animation:2s l2 3s both infinite;
    }
    .l3{
        opacity:0;
        // animation:2s l3 3s both infinite;
    }
    
}
.page_two{
    width: 100%;
    height: 100%;
    background-image:url(../imgs/bg.jpg);
    background-size:100% 100%;
    #earth{
        width: 100%;
        height: 100%;     
    }
    .text{
        width: 100%;
        text-align: center;
        position:absolute;
        bottom:2rem;
        font-size: .6rem;
        line-height: .9rem;
        display:none;
    }
    em{
       font-size: .5rem; 
    }

}
.page_three{
    width: 100%;
    height: 100%;
    background-image:url(../imgs/three/bg.jpg);
    background-size:100% 100%;
    -webkit-transform-style: preserve-3d;
    -moz-transform-style: preserve-3d;
    -ms-transform-style: preserve-3d;
    -o-transform-style: preserve-3d;
    perspective:500px;
    -webkit-perspective:500px;
    -moz-perspective:500px;
    -ms-perspective:500px;
    -o-perspective:500px;
    span{
        font-size: .7rem;
        position:absolute;  
        opacity:0;    
        -webkit-transform: rotateZ(15deg);
           -moz-transform: rotateZ(15deg);
            -ms-transform: rotateZ(15deg);
             -o-transform: rotateZ(15deg);
                transform: rotateZ(15deg);
    }
    .skill{
        position:relative;
        width: 100%;
        height:100%;
    }
    .skill>div{
        width: 24.066667%;height: 17.292054%;
        position:absolute;
        transform-origin:right bottom;
        -webkit-transform-origin:right bottom;
        -moz-transform-origin:right bottom;
        -ms-transform-origin:right bottom;
         -o-transform-origin:right bottom;
        -webkit-transform: rotateZ(15deg);
        -moz-transform: rotateZ(15deg);
        -ms-transform: rotateZ(15deg);
         -o-transform: rotateZ(15deg);
            transform: rotateZ(15deg);
        img{
            position: absolute;
            right:0;
            bottom:0;
        }
        .Cpeople{
            img{
                width: 60%; 
                height: 66.92913385826772%;
            }  
        }
        .glass{img{width: 60%; height: 66.92913385826772%;}}
        .Cglass{display:none; }

    }
    
    .skill>div:nth-child(1){right: 16.408668730650156%;bottom: 4.529616724738676%;}
    .skill>div:nth-child(2){right: 6.811145510835913%;bottom: 26.65505226480836%;}
    .skill>div:nth-child(3){right: 58.204334365325074%;bottom: 11.149825783972126%;}
    .skill>div:nth-child(4){right: 4.643962848297214%;bottom: 61.672473867595826%;}
    .skill>div:nth-child(5){right:28.792569659442723%;bottom: 41.81184668989547%;}
    .skill>div:nth-child(6){right: 56.34674922600619%;bottom: 45.99303135888502%;}
    .skill>div:nth-child(7){right: 80.4953560371517%;bottom: 26.306620209059233%;}
    .skill>div:nth-child(8){right:32.247678%;bottom: 65.6794425087108%;}
    .skill>div:nth-child(9){right: 78.328173374613%;bottom: 60.97560975609756%;}

    .content{
        position:absolute;
        background-color: #333;
        font-size: .4rem;
        line-height: .8rem;
        padding:5%;
        opacity:0;
        em{
            line-height: 1rem;
            color:#3ee;
            font-size: .8rem;
            padding-bottom: 5%;
        }
    }
    .fx{
        position:absolute;
        right:85%;
        bottom:90%;
        width: 2rem;
    }



}
.page_fore,.page_nine{
    width: 100%;
    height: 100%;
    background-image:url(../imgs/bg.jpg);
    background-size:100% 100%;
    text-align: center;
    a{word-break: keep-all;}
    img{
        position:absolute;
        opacity:0;
    }
    .slide{opacity:1;}
    .t4{
        width: 1.6rem;
    }
    .t3{
        width: 3.2rem;
    }
    .t1{
        width: 4.6rem;
        -webkit-transform: rotateZ(-50deg);
           -moz-transform: rotateZ(-50deg);
            -ms-transform: rotateZ(-50deg);
             -o-transform: rotateZ(-50deg);
                transform: rotateZ(-50deg);
    }
    .t5{
        width: 3.4rem;
        -webkit-transform: rotateZ(-50deg);
           -moz-transform: rotateZ(-50deg);
            -ms-transform: rotateZ(-50deg);
             -o-transform: rotateZ(-50deg);
                transform: rotateZ(-50deg);
    }
    .t9{
        width: 1.5rem;
        -webkit-transform: rotateZ(30deg);
           -moz-transform: rotateZ(30deg);
            -ms-transform: rotateZ(30deg);
             -o-transform: rotateZ(30deg);
                transform: rotateZ(30deg);
    }
    .t7{
        width: 1.5rem;
        -webkit-transform: rotateZ(-15deg);
           -moz-transform: rotateZ(-15deg);
            -ms-transform: rotateZ(-15deg);
             -o-transform: rotateZ(-15deg);
                transform: rotateZ(-15deg);
    }
    h2{
        width: 100%;
        position:absolute;
        top:2rem;
        font-size: .9rem;
        opacity:0;
    }
    span{
        position:absolute;
        font-size: 0.6rem;
        top:4.8rem;
        width: 100%;
        left:0;
        opacity:0;
    }
    .text{
        text-align: left;
        width: 90%;
        padding:0 5%;
        position:absolute;
        top:5.8rem;
        font-size: .4rem;
        line-height: .7rem;
        display:none;
        em{
            color:#1ff;
        }
    }
}
.page_nine {
    span{
        font-size: 0.5rem;
        top:4.5rem;
        width: 100%;
        left:0;
    }
    .text{
        top:5.5rem;
        font-size: .4rem;
        line-height: .65rem;
    }
}
.page_five{
    width: 100%;
    height: 100%;
    background-image:url(../imgs/bg.jpg);
    background-size:100% 100%;
    text-align: center;
    a{word-break: keep-all;}
    img{
        position:absolute;
        opacity:0;
    }
    .slide{opacity:1;}
    .d1{
        width:1rem;
        -webkit-transform: rotateZ(30deg);
           -moz-transform: rotateZ(30deg);
            -ms-transform: rotateZ(30deg);
             -o-transform: rotateZ(30deg);
                transform: rotateZ(30deg);
    }
    .d2{
        width:4.2rem;
    }
    .d3{
        width:3.5rem;
        -webkit-transform: rotateZ(-15deg);
           -moz-transform: rotateZ(-15deg);
            -ms-transform: rotateZ(-15deg);
             -o-transform: rotateZ(-15deg);
                transform: rotateZ(-15deg);
    }
    .d4{
        width:3.7rem;
        -webkit-transform: rotateZ(-15deg);
           -moz-transform: rotateZ(-15deg);
            -ms-transform: rotateZ(-15deg);
             -o-transform: rotateZ(-15deg);
                transform: rotateZ(-15deg);
    }
    .d5{
        width:1rem;
        -webkit-transform: rotateZ(-10deg);
           -moz-transform: rotateZ(-10deg);
            -ms-transform: rotateZ(-10deg);
             -o-transform: rotateZ(-10deg);
                transform: rotateZ(-10deg);
    }
    h2{
        width: 100%;
        position:absolute;
        top:1.8rem;
        font-size: .9rem;
        opacity:0;
    }
    span{
        position:absolute;
        font-size: 0.5rem;
        top:4.5rem;
        width: 100%;
        left:0;
        opacity:0;
    }
    .text{
        text-align: left;
        width: 90%;
        padding:0 5%;
        position:absolute;
        top:5.5rem;
        font-size: .4rem;
        line-height: .65rem;
        display:none;
        em{
            color:#1ff;
        }
    }
}
.page_six{
    width: 100%;
    height: 100%;
    background-image:url(../imgs/bg.jpg);
    background-size:100% 100%;
    position:relative;
    text-align: center;
    font-size: .32rem;
    img{
        position:absolute;
        opacity:0;
    }
    .slide{opacity:1;}
    .e1{width: .8rem;}
    .e2{width: 3rem;}
    .e3{width: 2rem;}
    .e4{width: 1.5rem;}
    .e5{width: 2rem;}
    .e6{width: .8rem;}
    .line{width: 60%;
        height: 75%;
        display:none;
        top:15%;left:22%;}
    h2{
        width: 100%;
        position:absolute;
        top:0.5rem;
        font-size: .9rem;
        opacity:0;
    }
    span{
        position: absolute;
        opacity:0;
        width: 60%;
        text-align: left;
        b{color:#3ee;}
    }
    em{
        position: absolute;
        opacity:0;
        width: 60%;
        text-align: left;
        b{color:#3e3;}
    }
    strong{
        position: absolute;
        opacity:0;
        width: 60%;
        color:#ee3;
        font-size: .4rem;
    }
}
.page_seven{
    width: 100%;
    height: 100%;
    background-image:url(../imgs/bg.jpg);
    background-size:100% 100%;
    img{
        position: absolute;
        display:none;
    }
    .v1{width: 4.3rem;}
    .v2{width: 3.8rem;}
    .v3{width: 4rem;}
    .v4{width: 4rem;}
    .v5{width: 2rem;}
    .v6{width: 1rem;}
    .v7{width: 2rem;}
    div{
        width: 74%;height: 64%;
        position:absolute;
        background-color: #333;
        left:10%;
        top:15%;
        display:none;
        font-size: .3rem;
    }
    .x{
        position:absolute;
        left:-5%;
        top:-10%;
        width: 2rem;
    }
    div{
        line-height: .8rem;
        padding:3% 5%;
    }
    span{
        width: 100%;
        color:#3ec;
        font-size: .7rem;
        line-height: 1.5rem;
    }
    em{
        color:#3ec;
        font-size: .5rem;
        line-height: 1rem;
    }
    .vn3,.vn2{
        font-size: .4rem;
    }
    .vn4{font-size: .34rem;}
}
.page_eight{
    width: 100%;
    height: 100%;
    background-image:url(../imgs/bg.jpg);
    background-size:100% 100%;
    text-align: center;
    img{
        position: absolute;
        display:none;
    }
    .e_t4{width: 2rem;}
    .e_t1{width: 3.8rem;}
    .e_t10{width: 3rem;-webkit-transform: rotateZ(-36deg);
       -moz-transform: rotateZ(-36deg);
        -ms-transform: rotateZ(-36deg);
         -o-transform: rotateZ(-36deg);
            transform: rotateZ(-36deg);}
    .e_t5{width: 3.8rem;}
    .e_t6{width: 1.8rem;}
    .e_t7{width: 1rem;}
    .e_t3{width: 1rem;}
    .e_t8{width: .5rem;}
    span{
        position: absolute;
        font-size: 1rem;
        width: 100%;
        left:0;
        top:1.4rem;
        opacity:0;
    }
    .text{
        text-align: left;
        font-size: .35rem;
        position:absolute;
        width: 84%;
        left:8%;
        top:30%;
        line-height: .65rem;
        display:none;
    }
    .me{
        position:absolute;
        top:60%;
        font-size: .3rem;
        text-align: left;
        width: 84%;
        left:8%;
        word-break:break-all;
        display:none;
        }
    em{
        color:#3ee;
    }
}