@charset "UTF-8";
html, body {
  width: 100%;
  height: 100%;
  background-color: #333;
  overflow: hidden;
  font-family: "黑体"; }

.wrap {
  width: 100%;
  height: 100%;
  overflow: hidden;
  color: white;
  transform-style: preserve-3d;
  -webkit-transform-style: preserve-3d;
  -moz-transform-style: preserve-3d;
  -ms-transform-style: preserve-3d;
  -o-transform-style: preserve-3d;
  perspective: 500px;
  -webkit-perspective: 500px;
  -moz-perspective: 500px;
  -ms-perspective: 500px;
  -o-perspective: 500px; }

.swiper-container {
  width: 100%;
  height: 100%;
  overflow: hidden; }

.slide {
  left: 4.4rem;
  bottom: .5rem;
  position: absolute;
  opacity: 1; }

.music {
  position: absolute;
  bottom: 5%;
  right: 5%;
  z-index: 99;
  width: 10%; }

.musicoff {
  position: absolute;
  bottom: 5%;
  right: 5%;
  width: 10%;
  z-index: 99;
  display: none; }

a {
  color: white;
  text-decoration: underline; }

a:visited {
  color: white; }

.tap {
  width: 3rem;
  position: absolute;
  top: 70%;
  left: 12%;
  opacity: 0; }

.page_one {
  width: 100%;
  height: 100%;
  background-image: url(../imgs/bg1.jpg);
  background-size: 100% 100%;
  overflow: hidden;
  transform-style: preserve-3d;
  -webkit-transform-style: preserve-3d;
  -moz-transform-style: preserve-3d;
  -ms-transform-style: preserve-3d;
  -o-transform-style: preserve-3d;
  perspective: 500px;
  -webkit-perspective: 500px;
  -moz-perspective: 500px;
  -ms-perspective: 500px;
  -o-perspective: 500px; }

.page_one img {
  position: absolute; }

.page_one .yel {
  opacity: 0;
  transform: rotateZ(180deg);
  -webkit-transform: rotateZ(180deg);
  -moz-transform: rotateZ(180deg);
  -ms-transform: rotateZ(180deg);
  -o-transform: rotateZ(180deg); }

.page_one .img4 {
  top: 5rem;
  left: 7.44rem;
  opacity: 0; }

.page_one .resume {
  width: 3.64rem;
  height: 0.86rem;
  left: 3.5rem;
  top: 3.63rem; }

.page_one .r {
  left: 1.56rem;
  top: 2.43rem;
  opacity: 0; }

.page_one .s {
  left: 4.37rem;
  top: 3.65rem;
  opacity: 0; }

.page_one .e {
  left: 7.29rem;
  top: 3.65rem;
  opacity: 0; }

.page_one .geren {
  width: 4.52rem;
  height: 1.03rem;
  left: 3.59rem;
  top: 2.42rem; }

.page_one .jian {
  left: 5.87rem;
  top: 2.42rem;
  opacity: 0; }

.page_one .Cd {
  opacity: 0; }

.page_one .text {
  position: absolute;
  width: 100%;
  text-align: center;
  font-size: 0.35rem;
  color: white;
  line-height: 0.77rem;
  top: 6.36rem;
  display: none; }

.page_one .l1 {
  opacity: 0; }

.page_one .l2 {
  opacity: 0; }

.page_one .l3 {
  opacity: 0; }

.page_two {
  width: 100%;
  height: 100%;
  background-image: url(../imgs/bg.jpg);
  background-size: 100% 100%; }

.page_two #earth {
  width: 100%;
  height: 100%; }

.page_two .text {
  width: 100%;
  text-align: center;
  position: absolute;
  bottom: 2rem;
  font-size: .6rem;
  line-height: .9rem;
  display: none; }

.page_two em {
  font-size: .5rem; }

.page_three {
  width: 100%;
  height: 100%;
  background-image: url(../imgs/three/bg.jpg);
  background-size: 100% 100%;
  -webkit-transform-style: preserve-3d;
  -moz-transform-style: preserve-3d;
  -ms-transform-style: preserve-3d;
  -o-transform-style: preserve-3d;
  perspective: 500px;
  -webkit-perspective: 500px;
  -moz-perspective: 500px;
  -ms-perspective: 500px;
  -o-perspective: 500px; }

.page_three span {
  font-size: .7rem;
  position: absolute;
  opacity: 0;
  -webkit-transform: rotateZ(15deg);
  -moz-transform: rotateZ(15deg);
  -ms-transform: rotateZ(15deg);
  -o-transform: rotateZ(15deg);
  transform: rotateZ(15deg); }

.page_three .skill {
  position: relative;
  width: 100%;
  height: 100%; }

.page_three .skill > div {
  width: 24.066667%;
  height: 17.292054%;
  position: absolute;
  transform-origin: right bottom;
  -webkit-transform-origin: right bottom;
  -moz-transform-origin: right bottom;
  -ms-transform-origin: right bottom;
  -o-transform-origin: right bottom;
  -webkit-transform: rotateZ(15deg);
  -moz-transform: rotateZ(15deg);
  -ms-transform: rotateZ(15deg);
  -o-transform: rotateZ(15deg);
  transform: rotateZ(15deg); }

.page_three .skill > div img {
  position: absolute;
  right: 0;
  bottom: 0; }

.page_three .skill > div .Cpeople img {
  width: 60%;
  height: 66.92913385826772%; }

.page_three .skill > div .glass img {
  width: 60%;
  height: 66.92913385826772%; }

.page_three .skill > div .Cglass {
  display: none; }

.page_three .skill > div:nth-child(1) {
  right: 16.408668730650156%;
  bottom: 4.529616724738676%; }

.page_three .skill > div:nth-child(2) {
  right: 6.811145510835913%;
  bottom: 26.65505226480836%; }

.page_three .skill > div:nth-child(3) {
  right: 58.204334365325074%;
  bottom: 11.149825783972126%; }

.page_three .skill > div:nth-child(4) {
  right: 4.643962848297214%;
  bottom: 61.672473867595826%; }

.page_three .skill > div:nth-child(5) {
  right: 28.792569659442723%;
  bottom: 41.81184668989547%; }

.page_three .skill > div:nth-child(6) {
  right: 56.34674922600619%;
  bottom: 45.99303135888502%; }

.page_three .skill > div:nth-child(7) {
  right: 80.4953560371517%;
  bottom: 26.306620209059233%; }

.page_three .skill > div:nth-child(8) {
  right: 32.247678%;
  bottom: 65.6794425087108%; }

.page_three .skill > div:nth-child(9) {
  right: 78.328173374613%;
  bottom: 60.97560975609756%; }

.page_three .content {
  position: absolute;
  background-color: #333;
  font-size: .4rem;
  line-height: .8rem;
  padding: 5%;
  opacity: 0; }

.page_three .content em {
  line-height: 1rem;
  color: #3ee;
  font-size: .8rem;
  padding-bottom: 5%; }

.page_three .fx {
  position: absolute;
  right: 85%;
  bottom: 90%;
  width: 2rem; }

.page_fore, .page_nine {
  width: 100%;
  height: 100%;
  background-image: url(../imgs/bg.jpg);
  background-size: 100% 100%;
  text-align: center; }

.page_fore a, .page_nine a {
  word-break: keep-all; }

.page_fore img, .page_nine img {
  position: absolute;
  opacity: 0; }

.page_fore .slide, .page_nine .slide {
  opacity: 1; }

.page_fore .t4, .page_nine .t4 {
  width: 1.6rem; }

.page_fore .t3, .page_nine .t3 {
  width: 3.2rem; }

.page_fore .t1, .page_nine .t1 {
  width: 4.6rem;
  -webkit-transform: rotateZ(-50deg);
  -moz-transform: rotateZ(-50deg);
  -ms-transform: rotateZ(-50deg);
  -o-transform: rotateZ(-50deg);
  transform: rotateZ(-50deg); }

.page_fore .t5, .page_nine .t5 {
  width: 3.4rem;
  -webkit-transform: rotateZ(-50deg);
  -moz-transform: rotateZ(-50deg);
  -ms-transform: rotateZ(-50deg);
  -o-transform: rotateZ(-50deg);
  transform: rotateZ(-50deg); }

.page_fore .t9, .page_nine .t9 {
  width: 1.5rem;
  -webkit-transform: rotateZ(30deg);
  -moz-transform: rotateZ(30deg);
  -ms-transform: rotateZ(30deg);
  -o-transform: rotateZ(30deg);
  transform: rotateZ(30deg); }

.page_fore .t7, .page_nine .t7 {
  width: 1.5rem;
  -webkit-transform: rotateZ(-15deg);
  -moz-transform: rotateZ(-15deg);
  -ms-transform: rotateZ(-15deg);
  -o-transform: rotateZ(-15deg);
  transform: rotateZ(-15deg); }

.page_fore h2, .page_nine h2 {
  width: 100%;
  position: absolute;
  top: 2rem;
  font-size: .9rem;
  opacity: 0; }

.page_fore span, .page_nine span {
  position: absolute;
  font-size: 0.6rem;
  top: 4.8rem;
  width: 100%;
  left: 0;
  opacity: 0; }

.page_fore .text, .page_nine .text {
  text-align: left;
  width: 90%;
  padding: 0 5%;
  position: absolute;
  top: 5.8rem;
  font-size: .4rem;
  line-height: .7rem;
  display: none; }

.page_fore .text em, .page_nine .text em {
  color: #1ff; }

.page_nine span {
  font-size: 0.5rem;
  top: 4.5rem;
  width: 100%;
  left: 0; }

.page_nine .text {
  top: 5.5rem;
  font-size: .4rem;
  line-height: .65rem; }

.page_five {
  width: 100%;
  height: 100%;
  background-image: url(../imgs/bg.jpg);
  background-size: 100% 100%;
  text-align: center; }

.page_five a {
  word-break: keep-all; }

.page_five img {
  position: absolute;
  opacity: 0; }

.page_five .slide {
  opacity: 1; }

.page_five .d1 {
  width: 1rem;
  -webkit-transform: rotateZ(30deg);
  -moz-transform: rotateZ(30deg);
  -ms-transform: rotateZ(30deg);
  -o-transform: rotateZ(30deg);
  transform: rotateZ(30deg); }

.page_five .d2 {
  width: 4.2rem; }

.page_five .d3 {
  width: 3.5rem;
  -webkit-transform: rotateZ(-15deg);
  -moz-transform: rotateZ(-15deg);
  -ms-transform: rotateZ(-15deg);
  -o-transform: rotateZ(-15deg);
  transform: rotateZ(-15deg); }

.page_five .d4 {
  width: 3.7rem;
  -webkit-transform: rotateZ(-15deg);
  -moz-transform: rotateZ(-15deg);
  -ms-transform: rotateZ(-15deg);
  -o-transform: rotateZ(-15deg);
  transform: rotateZ(-15deg); }

.page_five .d5 {
  width: 1rem;
  -webkit-transform: rotateZ(-10deg);
  -moz-transform: rotateZ(-10deg);
  -ms-transform: rotateZ(-10deg);
  -o-transform: rotateZ(-10deg);
  transform: rotateZ(-10deg); }

.page_five h2 {
  width: 100%;
  position: absolute;
  top: 1.8rem;
  font-size: .9rem;
  opacity: 0; }

.page_five span {
  position: absolute;
  font-size: 0.5rem;
  top: 4.5rem;
  width: 100%;
  left: 0;
  opacity: 0; }

.page_five .text {
  text-align: left;
  width: 90%;
  padding: 0 5%;
  position: absolute;
  top: 5.5rem;
  font-size: .4rem;
  line-height: .65rem;
  display: none; }

.page_five .text em {
  color: #1ff; }

.page_six {
  width: 100%;
  height: 100%;
  background-image: url(../imgs/bg.jpg);
  background-size: 100% 100%;
  position: relative;
  text-align: center;
  font-size: .32rem; }

.page_six img {
  position: absolute;
  opacity: 0; }

.page_six .slide {
  opacity: 1; }

.page_six .e1 {
  width: .8rem; }

.page_six .e2 {
  width: 3rem; }

.page_six .e3 {
  width: 2rem; }

.page_six .e4 {
  width: 1.5rem; }

.page_six .e5 {
  width: 2rem; }

.page_six .e6 {
  width: .8rem; }

.page_six .line {
  width: 60%;
  height: 75%;
  display: none;
  top: 15%;
  left: 22%; }

.page_six h2 {
  width: 100%;
  position: absolute;
  top: 0.5rem;
  font-size: .9rem;
  opacity: 0; }

.page_six span {
  position: absolute;
  opacity: 0;
  width: 60%;
  text-align: left; }

.page_six span b {
  color: #3ee; }

.page_six em {
  position: absolute;
  opacity: 0;
  width: 60%;
  text-align: left; }

.page_six em b {
  color: #3e3; }

.page_six strong {
  position: absolute;
  opacity: 0;
  width: 60%;
  color: #ee3;
  font-size: .4rem; }

.page_seven {
  width: 100%;
  height: 100%;
  background-image: url(../imgs/bg.jpg);
  background-size: 100% 100%; }

.page_seven img {
  position: absolute;
  display: none; }

.page_seven .v1 {
  width: 4.3rem; }

.page_seven .v2 {
  width: 3.8rem; }

.page_seven .v3 {
  width: 4rem; }

.page_seven .v4 {
  width: 4rem; }

.page_seven .v5 {
  width: 2rem; }

.page_seven .v6 {
  width: 1rem; }

.page_seven .v7 {
  width: 2rem; }

.page_seven div {
  width: 74%;
  height: 64%;
  position: absolute;
  background-color: #333;
  left: 10%;
  top: 15%;
  display: none;
  font-size: .3rem; }

.page_seven .x {
  position: absolute;
  left: -5%;
  top: -10%;
  width: 2rem; }

.page_seven div {
  line-height: .8rem;
  padding: 3% 5%; }

.page_seven span {
  width: 100%;
  color: #3ec;
  font-size: .7rem;
  line-height: 1.5rem; }

.page_seven em {
  color: #3ec;
  font-size: .5rem;
  line-height: 1rem; }

.page_seven .vn3, .page_seven .vn2 {
  font-size: .4rem; }

.page_seven .vn4 {
  font-size: .34rem; }

.page_eight {
  width: 100%;
  height: 100%;
  background-image: url(../imgs/bg.jpg);
  background-size: 100% 100%;
  text-align: center; }

.page_eight img {
  position: absolute;
  display: none; }

.page_eight .e_t4 {
  width: 2rem; }

.page_eight .e_t1 {
  width: 3.8rem; }

.page_eight .e_t10 {
  width: 3rem;
  -webkit-transform: rotateZ(-36deg);
  -moz-transform: rotateZ(-36deg);
  -ms-transform: rotateZ(-36deg);
  -o-transform: rotateZ(-36deg);
  transform: rotateZ(-36deg); }

.page_eight .e_t5 {
  width: 3.8rem; }

.page_eight .e_t6 {
  width: 1.8rem; }

.page_eight .e_t7 {
  width: 1rem; }

.page_eight .e_t3 {
  width: 1rem; }

.page_eight .e_t8 {
  width: .5rem; }

.page_eight span {
  position: absolute;
  font-size: 1rem;
  width: 100%;
  left: 0;
  top: 1.4rem;
  opacity: 0; }

.page_eight .text {
  text-align: left;
  font-size: .35rem;
  position: absolute;
  width: 84%;
  left: 8%;
  top: 30%;
  line-height: .65rem;
  display: none; }

.page_eight .me {
  position: absolute;
  top: 60%;
  font-size: .3rem;
  text-align: left;
  width: 84%;
  left: 8%;
  word-break: break-all;
  display: none; }

.page_eight em {
  color: #3ee; }
